.row.stories-wrap._bg-white#p4
	.col-md-12
		.stories-wrap__title Kundberättelser
	.col-md-6
		.story
			.story__img
				img(src='img/img-story1.png' alt='')
			.story__text
				.story__title Wasabi Web garanterar sina kunders säkerhet genom Bahnhof 
				| “När webbyrån Wasabi Web stod inför valet av att anlita en server- och internetleverantör ställde man naturligtvis höga krav när det gällde ett flertal aspekter. Som producent av webb för kunder av alla typer av storlekar sökte man en samarbetspartner som kunde garantera en solid och pålitlig serverlösning som fungerar i alla lägen. Men framförallt behövde man en leverantör som inte kompromissar med kundernas och den egna  säkerhetsnivån.“  
				.story__link
					a(href='#' target="_blank") Läs mer
	.col-md-6
		.story
			.story__img
				img(src='img/img-story2.png' alt='')
			.story__text
				.story__title Webhallen krävde snabbt och stabilt bredband 
				| “Vi är inne i en expansiv fas och när vi skrivit kontrakt på en ny butiksyta vill vi givetvis öppna så fort som möjligt. Då behövs ett snabbt och stabilt bredband eftersom vi kör både kassasystem, lagerstatus och produktspecifikationer via nätet. Det är med andra ord helt kritiskt att anslutningen fungerar.”  Läs mer
				.story__link
					a(href='#' target="_blank") Läs mer
