.row.speech-boxes-wrap#p3
	a.col-md-3.speech-box._bg-dark-purple(href='#')
		.speech-box__content
			.speech-box__title Internet  
			.speech-box__text  Bahnhof har anslutit många städer och orter via vårt stamnät Northern Light®. Resultatet blir extremt snabba och stabila anslutningar till ett konkurrenskraftigt pris.
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-denim(href='#')
		.speech-box__content
			.speech-box__title Co-location  
			.speech-box__text  I Bahnhofs datacenter står servrarna säkert. Vår hosting är ett naturligt val för banker, spelföretag, e-handlare och andra företag med höga krav.
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-lagoon(href='#')
		.speech-box__content
			.speech-box__title Våglängder  
			.speech-box__text De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-white(href='#')
		.speech-box__content
			.speech-box__title Företagsnät  
			.speech-box__text  De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui
		.speech-box__link 
			span   Läs mer
