// colocation speech-boxes
.row.speech-boxes-wrap#p3
	a.col-md-3.speech-box._bg-dark-purple(href='#')
		.speech-box__content
			.speech-box__title BIG Colo
			.speech-box__text  Med BIG Colocation får du ett helt rack inkl redundant strömförsörjning, 1000 Mbit/s flatrate, UPS, kylsystem, skalskydd, jour, egen access till serverhallen, SLA 99,997% samt lägsta elpris. Ingen bindningstid.  
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-denim(href='#')
		.speech-box__content
			.speech-box__title Bahnhof Cloud
			.speech-box__text  Bygg en serverhall i molnet, eller ha några enstaka servrar och skala upp allt eftersom. Med VPS från oss får du både molnets flexibilitet och Bahnhofs säkerhet, eftersom din virtuella server finns i våra datacenter.  
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-lagoon(href='#')
		.speech-box__content
			.speech-box__title Våglängder
			.speech-box__text  De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-white(href='#')
		.speech-box__content
			.speech-box__title IP-transit  
			.speech-box__text  De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium
		.speech-box__link 
			span   Läs mer
// / colocation speech-boxes
