// colocation client stories
.row.stories-wrap._bg-white#p4
	.col-md-12
		.stories-wrap__title Kundberättelser
	.col-md-6
		.story
			.story__img
				img(src='img/img-story-colocation-1.png' alt='')
			.story__text
				.story__title Redundans och ansvar avgörande för Consector
				|  För oss är det viktigt att våra tjänster alltid finns tillgängliga för våra kunder. Bahnhof erbjuder här en väldigt bra säkerhet, där deras system har en mycket stor redundans. Våra kunder kräver, med rätta, att våra tjänster ska finnas tillgängliga på nätet närhelst de behöver dem. Om tjänsterna inte gör det så kommer de att bli missnöjda med oss. Denna stabilitet är ett av de viktigaste skälen till att vi valde Bahnhof.  Läs mer
				.story__link
					a(href='#' target="_blank") Läs mer
	.col-md-6
		.story
			.story__img
				img(src='img/img-story-colocation-2.png' alt='')
			.story__text
				.story__title Virtualroad.org behövde extremt säker serverplats 
				| Våra klienter är ständigt måltavlor för cyberattacker, ett orättvist krig där legitima regeringar och myndigheter ger sig på små oberoende nyhetsgrupper med knappa medel att försvara sig. På grund av vårt arbetes natur, behöver vi en extremt säker plats för våra servrar. Alla operatörer har naturligtvis en integritetspolicy som ser bra ut i teorin. Men handlingar väger tyngre än ord.  Läs mer
				.story__link
					a(href='#' target="_blank") Läs mer
//  /colocation client stories
