// cloud banner


.page-banner.page-banner_colocation
	.page-banner__title
		.page-banner__caption Cloud
		p I Bahnhofs datacenter står servrarna säkert. Vår hosting är ett naturligt val för banker, spelföretag, e-handlare och andra företag med höga krav.
		p   Co-location hos Bahnhof ger trygghet. Med en server hos Bahnhof garanterar vi er en extremt hög driftsäkerhet och tillgänglighet. Att ha en server  placerad i en professionell och säker miljö ger också som regel en mycket bättre driftekonomi än om man själv köper och driftar servern.
	.page-banner__butn-holder
		.col-sm-6
			a.butn.butn_fs-xl(href="#")
				span BESTÄLL
	
// /cloud banner
