.bg-content-block.bg-content-block_data-center
	.campain-butn-holder.campain-butn-holder_right-top-between
		a.butn.butn_fs-xl.butn_buble-right-down.text-left(href="#")
			span SE VÅRA <br> DATACENTER
	.row.logo-link-wrap
		.col-sm-4
			a.logo-link(href="colocation_thule.html")
				img(src='img/logo-thule.png' alt='')
		.col-sm-4
			a.logo-link(href="colocation_sparven.html")
				img(src='img/logo-sparven.png' alt='')
		.col-sm-4
		.col-sm-4
			a.logo-link(href="colocation_pionen.html")
				img(src='img/logo-pionen.png' alt='')
		.col-sm-4
			a.logo-link(href="colocation_sterik.html")
				img(src='img/logo-sterik.png' alt='')
		.col-sm-4
			a.logo-link(href="colocation_lajka.html")
				img(src='img/logo-lajka.png' alt='')
