//content start page
main
	.container
		.row.category-link-wrap
			.col-sm-6.page-heading._bg-lagoon Slå en signal! 010-510 00 00
			.col-sm-6.page-heading._bg-dark-purple Logga in på Mina Företagssidor
			a.col-sm-6.category-link.hvr-back-pulse(href='internetaccess.html' target='_blank')
				.category-link__title Internet från Bahnhof
				img(src='img/img-category-internet.png' alt='')
			a.col-sm-6.category-link.hvr-back-pulse(href='colocation.html' target='_blank')
				.category-link__title Colocation
				img(src='img/img-categiry-colocation.png' alt='')
			a.col-sm-6.category-link.hvr-back-pulse(href='drifttjanster.html' target='_blank')
				.category-link__title Drifttjänster
				img(src='img/img-category-drifttjanster.png' alt='')
			a.col-sm-6.category-link.hvr-back-pulse(href='cloud.html' target='_blank')
				.category-link__title Bahnhof Cloud
				img(src='img/img-category-cloud.png' alt='')
			a.col-sm-6.category-link.hvr-back-pulse(href='#' target='_blank')
				.category-link__title Telefoni
				img(src='img/img-category-telefoni.png' alt='')
			a.col-sm-6.category-link.hvr-back-pulse(href='#' target='_blank')
				.category-link__title Jag vill veta mer och beställa!
				img(src='img/img-category-bestall.png' alt='')
		include _speech_box_row.jade
				
// /content start page
