//content  internetaccess_forbindelse  page
main
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade
		.sceneElement(data-viewport="1")
			.row.text-block.text-block_mb0.text-block_bg-white._pt40
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title Internetförbindelse från Bahnhof
						.text-block__text-sub-title En dedikerad anslutning är en egen anslutning för endast ditt företag.
						.text-block__text-text 
							p Ni blir alltså garanterade en viss kapacitet, och blir heller inte påverkade av att många är anslutna samtidigt (till skillnad från anslutning via stadsnät). Dessutom är det färre aktörer inblandade i driften av nätet, vilket minskar risken för fel och ökar snabbheten vid support. Andra fördelar är att ni har möjlighet att få snabbare support med direktnummer till jouren och mejladress, s k VIP-support.
							p   Bahnhof erbjuder allt från enklare surftjänster till avancerade helhetslösningar för att matcha extremt höga krav. Se vad som ingår i vår tjänst Dedikerat bredband i spalten bredvid. 
						
						.forb-butn-holder
							a.butn.butn_fs-xl(href="#")
								span BESTÄLL
					
				.col-md-6
					.text-block__text
						table.table
							tr.tr-th
								th 
									span.text-block__text-sub-title Vad passar er?
								th BAS 
								th PRO 
							tr
								td Fast Internetaccess,full duplex
								td 
									img(src='img/icon-computer-lagun.png' alt='')
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td Symmetrisk bandbredd
								td
									img(src='img/icon-computer-lagun.png' alt='')
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								
								td  Fast publik IP-adress 
								td
									img(src='img/icon-computer-lagun.png' alt='')
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td 99,997% garanterad tillgänglighet (SLA)
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td Teknisk support vardagar 8-18 och  felanmälan via e-post 24/7-365
								td
									img(src='img/icon-computer-lagun.png' alt='')
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td  VIP-support vardagar 8-18 
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td Tillgång till Bahnhofs journummer 24/7-365
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td Förbindelsen kan flyttas till en ny  adress under avtalets löptid 
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td 1 telefonianknytning 
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
							tr
								td Managerat kontorsnät enligt offert 
								td
								td
									img(src='img/icon-computer-denim.png' alt='')
						.speech-boxes-wrap-align-right
							
							.speech-box.speech-box_hovered.speech-box_buble-center._bg-lagoon
								.speech-box__text.speech-box__text_height-auto
									|Exempelpris BAS: <br>10 Mbit/s: 995 kr/mån<br> 100 Mbit/s: 1 495 kr/mån 
							.speech-box.speech-box_hovered._bg-denim.speech-box_buble-center
								.speech-box__text.speech-box__text_height-auto
									|Exempelpris PRO <br>100 Mbit/s: 1 950 kr/mån<br> 1000 Mbit/s: 2 950 kr/mån  
			.campaignbox.campaignbox_forbindelse
				.campaignbox__content
					.campaignbox__title BIG
					.campaignbox__subtitle Snittpris  2 950 kr/mån  
					.campaignbox__text Med Bahnhof Internet Giga (BIG) får ditt företag 1 Gbit/s - alltså 1000 Mbit/s - till fast månadspris. Enormt mycket bredband. Inga extra kostnader.
				.campaignbox__butn
					a.butn.butn_fs-xl(href="internetaccess_campain_big.html" target="_blank")
						span LÄS MER
				
			
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /content internetaccess_forbindelse page
