//content colocation pionen  page
main
	.container
		include _inner-nav
		include _colocation_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_colocation-pionen._mb0
						.text-block__text-title-thiner._c-wh Pionen
						.col-sm-4.speech-box.speech-box_hovered.speech-box_dib._bg-white
							.speech-box__title._c-bl Skyddsrum från Kalla kriget
							.speech-box__text.speech-box__text_height-auto._c-bl     I ett kärnvapensäkert skyddsrum från Kalla kriget ligger Pionen. Ingången skyddas av 40 centimeters ståldörr och själva anläggningen är insprängd i urberget under Vita Bergen på Södermalm i Stockholm. Pionen upphör aldrig att fascinera och har ofta blivit omskriven av världens medier. 
				.col-sm-6
					.text-block__text._pb0
						.text-block__img._height-auto._mb50
							img(src='img/logo-pionen-large.png' alt='')
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakert.png' alt='')
							| Säkert nät  
						.text-block__text-bold Kraftfulla anslutningar 
						.text-block__text-text  Pionen är bestyckad med Bahnhofs erkänt kraftfulla IP- och Carriertjänster via fullt redundanta routrar och divergerade kabelstråk. Vill ni ha egen svartfiber från Stokab eller Skanova finns stora ODF:er redan på plats för snabb och smidig inkoppling. 
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-brandskydd.png' alt='')
							| Brandskydd och släcksystem
						ul.text-block__ul
							li Hall och utrymmen för tekniska system har aspirerande rökdetektorer. 
							li  Gassläcksystemet i serverhallarna använder släckmedlet Novec 1230. I övriga lokaler används joniserande och optiska rökdetektorer. 
							li  I övriga lokaler används joniserande och optiska rökdetektorer.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakerhet.png' alt='')
							|Säkerhet och inbrottslarm
						ul.text-block__ul
							li Anläggningen uppfyller säkerhetsklass 3 och larmklass 3.
							li  Kameraövervakning från larmcentral. 
							li Kameraövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larmövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larm från UPS:er, kylsystem, ställverk och dieselgeneratorer är  kopplade till larmövervakningssystemet. 
							li Dörrarna in och ut ur anläggningen är försedda med magnetkontakter och kortläsare – alla rörelser loggas. 
							li Anläggningen kameraövervakas 24/7, 365 dagar om året och alla inspelningar lagras i minst tre månader.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-el.png' alt='')
							|El, värme och kyla
						.text-block__text-bold Nyskapande kylsystem 
						.text-block__text-text Varje sektion betjänas av underblåsande fläktluftkylare som var för sig levererar ca. 100 kW. Kylaproduktionen är redundant med två helt oberoende system vilket säkerställer driften.  
						.text-block__text-bold Extrem effektivitet
						.text-block__text-text  Tack vare modern teknik och effektiv design är anläggningen extremt energisnål. Överskottsvärmen från Pionen leds vidare till Fortums fjärrvärmenät via två värmepumpar på sammanlagt 1MW.
						.text-block__text-bold   Avbrottsfri kraft
						.text-block__text-text  För avbrottsfri elförsörjning till servrar och övrig utrustning har Pionen ett UPS-system som filtrerar bort störningar. UPS:erna har batteribackup som täcker kortare strömavbrott samt tiden innan dieselgeneratorerna startat. Pionen har två stycken redundanta automatstartande dieselgeneratorer. Kabelvägarna från reservkraft till ställverk och från nät till ställverk löper åtskilda från varandra.
						.text-block__text-bold        PDU för exakt debitering
						.text-block__text-text  Samtliga avsäkringar i anläggningen övervakas via ett centralt system för exakt debiteringsunderlag: betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.
				
				.col-md-6
					.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-black._ml-20._mt0
						.text-block__text-title._c-wh Kontor och datahall  
						.row
							.col-sm-7.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Öppnade: 2008 
								p Antal personer: omkring 10
								p Adress: Renstiernas gata 37, Stockholm
								p Vill du ha företagets servrar här? 
								p <a href='mailto:sales@bahnhof.net'>sales@bahnhof.net</a>
							.col-sm-5.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Pssst! Är du privatkund kan du testa <a href='#'>här</a> om  du kan få bredband hem till dig eller gå  till Kundservice.
					
					._mr20
						.video
							<iframe src="https://www.youtube.com/embed/wn8pz1HLYp8?rel=0&amp;controls=0"  allowfullscreen></iframe>
					.text-block__text-text._c-or._mb0  Så byggde vi “Sveriges coolaste serverhall”
					.img-description-wrap
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-based-in-sweden.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Based in Sweden  
								.speech-box__text.speech-box__text_height-auto Märkningen Based in Sweden garanterar 100% lagring på svensk mark. Alla våra datacenter uppfyller denna garanti och ger våra kunder maximal säkerhet mot avlyssning, företagsspionage, myndighetsövervakning och andra former av intrång  i integriteten. 
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-triplegreen.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Triple Green   Triple Green. 
								.speech-box__text.speech-box__text_height-auto Serverhallar förbrukar enormt mycket elektricitet. Därför köper Bahnhof ingen annan el än från vattenkraft, som är en förnybar energikälla. Men inte nog med det: Bahnhof har investerat miljoner i att utveckla en av världens mest klimatsmarta lösningar där vi samlar in värmen från serverhallarna – vilket ger varmvatten och uppvärmning till tusentals bostäder genom fjärrvärmenätet. Tre av Bahnhofs serverhallar uppfyller märkningen
					.text-block__text-title Bildgalleri
					.bg-content-block._bg-transparent._mr20.galery
						a.galery__item(href="img/img-gal-pionen-big-1.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-1.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-2.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-2.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-3.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-3.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-4.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-4.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-5.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-5.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-6.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-6.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-7.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-7.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-8.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-8.jpg' alt='')
						a.galery__item(href="img/img-gal-pionen-big-9.jpg" data-fancybox="gallery-pionen")
							img(src='img/img-gal-pionen-9.jpg' alt='')
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row
		include _colocation_client_stories_row
// /content colocation pionen  page
