//content colocation datacenter  page
main
	.container
		include _inner-nav.jade
		include _colocation_banner.jade
		.sceneElement(data-viewport="1")
			.bg-content-block.bg-content-block_datacenter-single._mb0
				a.close-butn(href='colocation.html') +
				.row.logo-link-wrap
					.col-sm-4.offset-md-2
						a.logo-link(href="colocation_thule.html")
							img(src='img/logo-thule.png' alt='')
					.col-sm-4
						a.logo-link(href="colocation_sparven.html")
							img(src='img/logo-sparven.png' alt='')
					.col-sm-4
						a.logo-link(href="colocation_pionen.html")
							img(src='img/logo-pionen.png' alt='')
					.col-sm-4
						a.logo-link(href="colocation_sterik.html")
							img(src='img/logo-sterik.png' alt='')
					.col-sm-4
						a.logo-link(href="colocation_lajka.html")
							img(src='img/logo-lajka.png' alt='')
			.text-center._bg-white._mb15
				.hint Jag vill veta mer om colocation
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row.jade
		include _colocation_client_stories_row.jade
// /content colocation datacenter  page
