//content colocation colocation-inner  page
main
	.container
		include _inner-nav.jade
		include _colocation_banner.jade
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-md-6
					.bg-content-block.bg-content-block_colocation-colocation
						.img-description
							img(src='img/img-colocation-fullrack.png' alt='')
							.speech-box.speech-box_dib.speech-box_buble-left-side._bg-dark-purple
								.speech-box__title Helrack 
								.speech-box__text.speech-box__text_height-auto 40 höjdenheter <br> Fr 7 000 kr/mån
						.img-description
							img(src='img/img-colocation-halfrack.png' alt='')
							.speech-box.speech-box_dib.speech-box_buble-left-side._bg-denim
								.speech-box__title Halvrack 
								.speech-box__text.speech-box__text_height-auto 20 höjdenheter <br>  Fr 4 000 kr/mån
						.img-description
							img(src='img/img-colocation-onerack.png' alt='')
							.speech-box.speech-box_dib.speech-box_buble-left-side._bg-lagoon
								.speech-box__title Start-up 
								.speech-box__text.speech-box__text_height-auto  1-10  höjdenheter <br> Fr 790 kr/mån
						
					.row.bg-content-block.bg-content-block_colocation-colocation2
						.col-sm-6
							.text-block__text-title._c-wh._mb0 BIG Colo
							.text-block__text-title-thiner._c-wh 8 950 kr/mån
							.text-block__text-text._c-wh._mb15 NYHET! Med BIG Colocation får du ett helt rack inklusive redundant strömförsörjning, 1000 Mbit/s flatrate, UPS, kylsystem, skalskydd, jour, egen access till serverhallen, SLA 99,997% samt lägsta elpris. 
								|Och förresten: ingen bindningstid.
						.campain-butn-holder.campain-butn-holder_left-bottom-between
							a.butn.butn_buble-left._w-auto(href="colocation_big.html")
								span Las mer
				
				.col-md-6
					.text-block__text._height-auto
						.text-block__text-title Colocation
						.text-block__text-title-thiner Colocation på dina villkor  
						.text-block__text-text._mb15
							p Colocation på dina villkor, med hög driftsäkerhet centralt liggande datahallar. All kompetens finns inom bolaget. Därför kan vi erbjuda tjänster och lösningar som är specialdesignade för olika typer av företag och organisationer. Vi utgår helt och hållet från era behov. Och vi finns där för er hela tiden – oavsett om ni behöver skala upp eller ner.
						.text-block__text-title-thiner Den bästa platsen för din server  
						.text-block__text-text._mb15 Miljön i datahallarna är speciellt anpassad för elektronisk utrustning. Temperatur och luftfuktighet regleras kontinuerligt för att skapa ett perfekt klimat för dina servrar. Ovanför eller under varje varm gång sitter fläktluftkylare som suger in den varma luften från servrarna och återcirkulerar den avkylda luften till skåpens framsida. Systemet är temperaturstyrt enligt ASHRAE:s senaste standard.   
						ul.text-block__ul.text-block__ul_li-mb15
							li Vill ni ha egen svartfiber från närliggande stadsnät finns stora ODF:er redan på plats för snabb och smidig inkoppling i samtliga datahallar.
							li  Hallar och utrymmen för tekniska system har VESDA (-aspirerande) rökdetektorer. Gassläcksystemet i serverhallarna använder släckmedlet IG55, som är en blandning av två i atmosfären naturligt förekommande gaser: kväve och argon. I övriga lokaler används joniserande och optiska rökdetektorer.
							li  Anläggningarna uppfyller säkerhetsklass 3 och larmklass 3.
							li  Kameraövervakning från larmcentral.
							li  Kamera- och larmövervakningssystemet är kopplat till Bahnhofs  driftpersonal.
							li  Larm från UPS:er, kylsystem, ställverk samt dieselgeneratorer är även de kopplade till larmövervakningssystemet.  
						.text-block__text-text._mb15
							p Datahallarna förses med dubbla elnät på mellanspänning till fastighetens ställverk. Ställverken har i sin tur dubbla 2 MVA-transformatorer. Alla av- säkringar i anläggningarna övervakas via ett centralt system för exakt  debiteringsunderlag; betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.
							p   För avbrottsfri elförsörjning har alla hallar ett UPS-system som filtrerar bort alla störningar från elnätet. UPS:erna ger batteribackup vid strömbortfall tills dieselgeneratorn startat, vilket sker automatiskt. Skulle serverhallarna drabbas av ett längre strömavbrott tar våra dieselkraftverk över.
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row.jade
		include _colocation_client_stories_row.jade
// /content colocation colocation-inner  page
