//_content_internetaccess_northern-light page
main
	
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade

		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title Northern Light®
						.text-block__text-title-thiner 100 Gbit/s genom Sverige, med ökad kapacitet och minskad latens  
						.text-block__text-text._mb15
							p Bahnhof genomförde 2017 den största investeringen i bredbandskvalitet i bolagets historia. Vi skickar nu 100 Gbit/s genom Sverige, med ökad kapacitet och minskad latens. Uppgraderingen gäller såväl privatpersoner och företag som BRF:er. Namnet på nätet är Northern Light®.
							p   Bahnhofs flotta av verktygsbilar har i över ett års tid rullat 100-tals mil, packade med fibertvättar av olika modeller, ljusmätare, multimeter för 48-volts spänning, ett stort antal kablar av olika dimensioner både för  spänning och fiber, OTDR-mätare (optical time-domain reflectometer) handgjorda kopparbleck för de stora routrarna...  
							p ...och förstås ett mikroskop för att undersöka om fibern är tvättad ordentligt vid kontaktytorna.
							p   Bahnhof skrotade 2017 hela det gamla och traditionellt uppbyggda telekomnät (NFR, ”Nordic Fiber Ring”) i dess helhet. Bahnhofs internettrafik tar nu helt nya vägar genom landet. Resultatet blir kraftiga ökningar av kapaciteten. Städerna blir anslutna via två olika fibervägar för ökad redundans och motståndskraft mot fiberbrott. Latensen i Northern Light® minskar eftersom kundernas trafik går en rakare väg med färre hopp för att komma "ut till internet".
							p   Jämfört med vårt gamla nät, Nordic Fiber Ring har Northern Light® en kapacitet på 2x100 Gbit/s över hela nätet utan att några sträckor behöver dela kapacitet. Med dubbla fiberlinor blir hela nätet även betydligt mer okänsligt för eventuella störningar. I ett framtida steg kommer vi kunna dra igång 96x100 Gbit/s och även ännu mer framöver.  Investering: ca 100 miljoner kronor. Fullständigt namn: Northern Light® 17, förkortat NL17.  I dagligt tal "Northern Light". 
				.col-md-6
					.text-block__img
						img(src='img/img-internetaccess-northernlight.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /_content_internetaccess_northern-light  page
