//content colocation big  page 
main
	.container
		include _inner-nav.jade
		include _colocation_banner.jade

		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-md-6
					.text-block__text._pt100._height-auto._mb0
					
						.text-block__text-title._mb30 BIG Colo - paketpris för colocation
						.text-block__text-bold._mb15 Med BIG Colocation får du ett helt rack inklusive redundant ström- försörjning, 1000 Mbit/s flatrate, UPS, kylsystem, skalskydd, jour, egen access till serverhallen, SLA 99,997% samt lägsta elpris. Och förresten: ingen bindningstid.  
						ul.text-block__ul.text-block__ul_li-mb15
							li Pris: 8 950 kr/mån. Bindningstid: 0 månader.
						.text-block__text-bold   Vill du prata med oss om colocation?
						.text-block__text-text
							p  Ring 010-510 00 00 eller mejla 
								a(href='mailto:sales@bahnhof.net') sales@bahnhof.net
								| så hjälper vi till.
						.text-block__text-bold  Vill du veta mer om våra serverhallar innan du bestämmer dig?
						.text-block__text-text
							a(href='#')  Inga problem!   
					.speech-box.speech-box_hovered._bg-black._mt0._pt40._mb0.text-center
						._dib
							.speech-box__title Det här ingår i BIG Colo   
							.speech-box__text.speech-box__text_height-auto
								ol 
									li Helskåp med 2x16A redundant strömförsörjning
									li 1000 Mbit/s dedikerad bandbredd (flatrate) 
									li Egen access 24/7-365 4.
									li Garanterat lägsta elpris 
									li SLA 99,997% 6.
									li Jour dygnet runt 
									li Ingen bindningstid! 
						img.speech-box__img-abs-right-bottom(src='img/img-colocation-big-racks.png' alt='')
				.col-md-6
					.text-block__img
						.text-block__img-title.text-left
							.text-block__img-title_md 8 950 kr
							.text-block__img-title_sm 40 HE, 1 000 Mbit/s flatrate och mer, minus bindningstid.
						img(src='img/bg-colocation-big.png' alt='')
						.campain-butn-holder.campain-butn-holder_left-bottom-between
							a.butn.butn_fs-xl.butn_buble-left(href="#")
								span BESTÄLL
					
		include _colocation_speech_box_row.jade
		include _colocation_client_stories_row.jade
// /content colocation big  page
