//content internetaccess_iptransit  page
main
	
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade

		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title IP-transit och Våglängd
						.text-block__text-title-thiner Bredbandsmotorväg för operatörer
						.text-block__text-text._mb15
							p Bahnhofs operatörsnät har många fördelar för dig med höga krav på trafikkapacitet, redundans och pålitlighet. Tack vare vårt kraftfulla våglängdsnät kan vi erbjuda extremt få routerhopp och korta pingtider till nordiska knutpunkter. Vi levererar upp till 100 Gbit/s mellan valfria städer i Bahnhofs skandinaviska stamnät.
							p   IP-transit och Våglängd är tjänster för operatörer och företag som säljer kapacitet vidare och även företag med kapacitetskrävande verksamhet.
							p   Pris enligt offert, och leveranstiden är normalt mellan 3-7 arbetsdagar (men kan variera mellan olika tjänster och produkter).  
							.text-block__text-bold Det här ingår alltid:
							ul.text-block__ul
								li Garanterad kapacitet
								li Full duplex
								li Gränssnitt: Ethernet
								li Fasta publika IP-adresser
							
							.text-block__text-bold   Du väljer själv: 
							ul.text-block__ul
								li Fast eller rörlig kapacitetsnivå 
								li Porthastighet; 100 Mbit/s, 1 Gbit/s eller 10 Gbit/s
						
						.campain-butn-holder.campain-butn-holder_left-bottom-between
							a.butn.butn_buble-left.butn_fs-xl(href="#")
								span BESTÄLL	
				.col-md-6
					.text-block__img
						img(src='img/img-internetaccess-iptransit.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /content internetaccess_iptransit  page
