// _content_drifttjanster_lastbalansering  page
main
	.container
		include _inner-nav
		include _drifttjanster_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='drifttjanster.html') +
				.col-sm-6
					.text-block__text
						.text-block__text-title Lastbalansering
						.text-block__text-title-thiner Öka kapacitet och tillgänglighet i miljön  
						.text-block__text-text
							p Flera servrar kan bli konfigurerade att jobba ihop bakom en eller flera lastbalanserare. Lastbalanseringen innebär att det går att kontrollera hur belastad respektive server är, och sen dirigera om data till den minst belastade. De största fördelarna är så klart att öka kapaciteten och tillgängligheten i din miljö.
							p   Lastbalansering som tjänst finns som både enkel eller avancerad tjänst. Lastbalanseringen utförs med Layer 7 lastbalanserare. Utöver lastbalansering erbjuder vi även tjänsterna Rewrites, AppFirewall, Two factor authentication/OTP som tillval.  
							ul.text-block__ul
								li LaaS kräver att ni har de lastbalanserade tjänsterna hos Bahnhof.  
							p Vill du veta mer? <a href='#'>Kontakta sales@bahnhof.net</a>. 
				.col-md-6
					.text-block__img
						img(src='img/img-drifttjanster-lastbalansering.png' alt='#')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _drifttjanster_speech_box_row
		include _client_stories_row.jade
// /_content_drifttjanster_lastbalansering  page
