// _content_drifttjanster_it-drift  page
main
	.container
		include _inner-nav
		include _drifttjanster_banner
		.sceneElement(data-viewport="1")
			.row.text-block.text-block_bg-white
				a.close-butn(href='drifttjanster.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_drifttjanster_it-drift._mb0
						.col-sm-6
							.bg-content-block__title-orange För att alla inte är eller har tid att vara tekniker.
							.text-block__text-title IT-drift som tjänst
							.text-block__text-title-thiner Virtuellt Datacenter - PaaS  
							.text-block__text-text 
								p IT-drift som tjänst är ett ypperligt alternativ för er som helt och hållet vill fokusera på era egna applikationer och låta oss ta ett helhetsansvar för er IT-miljö. Har ni redan egna licenser för VMWare/Microsoft eller liknande går det i vissa fall att flytta med dessa till Bahnhof.   
								p Den tekniska arkitekturen bygger på celler med ett större antal fysiska maskiner som delar lagringsmedium (SAN) och där enskilda komponenter kan sluta fungera utan driftpåverkan.  
								p Bahnhof ansvarar för servrarna upp till OS-nivå. Windows-/Linuxpatchning, övervakning, proaktivt arbete och OS-nivå är exempel på vad som ingår i PaaS. Hårdvaran kan placeras i ett eller flera av våra serverhallar beroende på vilken nivå av redundans som önskas.
				
				.col-sm-6
					.text-block__text.text-block__text_df-just-between._pt0._pb0
						.left-wrap
							.text-block__text-title-thiner Dedikerat eller delat?
							.text-block__text-text.text-block__text-text_with-img-left
								img(src='img/icon-drifttjanster_it-drift-dedicated.png' alt='')
								p <b>Dedikerad hårdvara</b> lämpar sig för företag och organisationer som vill fortsätta hantera sina IT-miljöer själva, men vill släppa ansvaret för den grundläggande infrastrukturen och låta oss hantera det. Vill ni sköta mer av driften själva? Då är <a href='#'>IaaS</a> något för er. 
							.text-block__text-text.text-block__text-text_with-img-left
								img(src='img/icon-drifttjanster_it-drift-delad-hardvara.png' alt='')
								p <b>Dedikerad hårdvara</b> för PaaS betyder att hårdvaran delas med andra Bahnhofkunder. Vi installerar och sköter servrarna ända upp på OS-nivå om så önskas. Ni har alltid tillgång till era virtuella servrar medan Bahnhof sköter installationer och inställningar. Tjänsten är redundant både på server- och SAN-nivå. SLA finns som tillval.
						img.img-right(src='img/img-drifttjanster-it-drift.png' alt='')
				.col-md-6
					.text-block__text._pt0._pr0
						.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-denim._pt20._pb20._ml-20._mt0
							.text-block__text-bold._c-wh._mb20 Bahnhof tar ansvar för helheten och vi bygger ert virtuella datacenter djupt integrerat med vår befintliga infrastruktur:
							ul.text-block__ul.text-block__ul_wh
								li Vårt stamnät garanterar hög bandbredd 
								li Ultralåg latens Hårdvara från Dell och Cisco samt mjukvara från VM
								li  Ware kommer till sin fulla rätt i händerna på vårt hosting-team.
						.campain-butn-holder.campain-butn-holder_right-bottom
							a.butn.butn_fs-xl(href='#')
								span BESTÄLL	
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _drifttjanster_speech_box_row
		include _client_stories_row.jade
// /_content_drifttjanster_it-drift  page
