//content cloud start page
main
	.container
		include _inner-nav
		include _cloud_banner
		.row.category-link-wrap.sceneElement(data-viewport="-1")
			a.col-sm-3.category-link-inner.hvr-back-pulse(href="drifttjanster_it-drift.html")
				.category-link-inner__title IT-drift  som tjänst
				img(src='img/img-drift-cat-1.png' alt='')
			a.col-sm-3.category-link-inner.category-link-inner_light.hvr-back-pulse_light(href='drifttjanster_lastbalansering.html')
				.category-link-inner__title Lastbalansering som tjänst
				img(src='img/img-drift-cat-2.png' alt='')
			a.col-sm-3.category-link-inner.hvr-back-pulse(href='drifttjanster_kontorsnat.html')
				.category-link-inner__title Kontorsnät och brandvägg
				img(src='img/img-drift-cat-3.png' alt='')
			a.col-sm-3.category-link-inner.category-link-inner_light.hvr-back-pulse_light(href='drifttjanster_backup.html')
				.category-link-inner__title Backup, drift-´ övervakning och patchning
				img(src='img/img-drift-cat-2.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _cloud_speech_box_row
		include _client_stories_row
// /content cloud start page
