//content colocation lajka  page
main
	.container
		include _inner-nav
		include _colocation_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_colocation-lajka._mb0
						.text-block__text-title-thiner._c-wh Lajka
						.col-sm-4.speech-box.speech-box_hovered.speech-box_dib._bg-white
							.speech-box__title._c-bl Stjärnglans och pansarstål  
							.speech-box__text.speech-box__text_height-auto._c-bl Lajka ligger ett stenkast från Victoria Tower i Kista Science City och syns tydligt från E4:an. Själva serverhallen skyddas av pansarstål ARMOX 500 T® som ursprungligen togs fram av SSAB för militärt bruk och används globalt i bland annat stridsvagnar och pansarfordon. Anläggningen är modulär, vilket innebär att den enkelt kan byggas ut med fler  moduler och då mångdubbla sin kapacitet.
				.col-sm-6
					.text-block__text._pb0
						.text-block__img._height-auto._mb50
							img(src='img/logo-lajka-large.png' alt='')
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakert.png' alt='')
							|Säkert nät  
						.text-block__text-bold Kraftfulla anslutningar 
						.text-block__text-text Lajka är bestyckad med Bahnhofs erkänt kraftfulla IP- och Carriertjänster via fullt redundanta routrar och divergerade kabelstråk. Önskar ni egen svartfiber från Stokab eller Skanova finns stora ODF:er redan på plats för snabb och smidig inkoppling.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-brandskydd.png' alt='')
							|Brandskydd och släcksystem
						ul.text-block__ul
							li Hall och utrymmen för tekniska system har VESDA (-aspirerande) rökdetektorer.
							li  Gassläcksystemet i serverhallarna använder släckmedlet Novec 1230
							li  I övriga lokaler används joniserande och optiska rökdetektorer.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakerhet.png' alt='')
							|Säkerhet och inbrottslarm
						ul.text-block__ul
							li Anläggningen uppfyller säkerhetsklass 3 och larmklass 2.
							li Anläggningen har multipla larm för flera nivåer av skalskydd. 
							li Kameraövervakning från larmcentral.
							 li Kameraövervakningssystem kopplat till li Bahnhofs NOC och  driftpersonal.
							li Larmövervakningssystem kopplat till Bahnhofs NOC och driftpersonal.
							li Larm från UPS:er, kylsystem, ställverk och dieselgeneratorer är  kopplade till larmövervakningssystemet.
							 li Dörrarna in och ut ur anläggningen är försedda med magnetkontakter och kortläsare – alla rörelser loggas. 
							li Anläggningen kameraövervakas 24/7, 365 dagar om året och alla inspelningar lagras i minst tre månader.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-el.png' alt='')
							|El, värme och kyla
						.text-block__text-bold Avbrottsfri kraft
						.text-block__text-text  För avbrottsfri elförsörjning har Lajka ett väl tilltaget dieselaggregat på  1 MW med UPS-system som filtrerar bort störningar.UPS:erna har batteri- backup som täcker kortare strömavbrott samt tiden innan dieselgeneratorerna startat.
						.text-block__text-bold PDU för exakt debitering
						.text-block__text-text  Samtliga avsäkringar i anläggningen övervakas via ett centralt system för exakt debiteringsunderlag: betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.  
						.text-block__text-bold Kyla
						.text-block__text-text Bahnhof har ett egenutvecklat patenterat system som bygger på frikyla: AHRS - Active Heat Removing SystemTM. I Lajka ger systemet en be- tryggande kapacitet att kyla drygt 11 kW per skåp.
				.col-md-6
					.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-black._ml-20._mt0
						.text-block__text-title._c-wh Säljkontor och datahall  
						.row
							.col-sm-7.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Öppnade: mars 2013
								p Antal personer:  1-2 st
								p Adress: Kista 
								p Telefon företagskunder: 08-555 771 51
								p E-post företagskunder: <a href='mailto:sales@bahnhof.net'>sales@bahnhof.net</a>
							.col-sm-5.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Pssst! Är du privatkund? Då hittar du support och info på 
								p <a href='#'>Kundservice</a>.
					
					.text-block__text._height-auto._mr20._pt20._pb20
						.text-block__text-bold._mb15 Bahnhofs datacenter i Kista Science City påminner om en rymbdas.  Designen är inspirerad av science fiction och när dörrarna öppnas med hjälp av tryckluft låter det: "pssh".
						.text-block__text-bold   Är det här verkligen en serverhall? Den måste vara unik i sitt slag?
						.text-block__text-text 
							p  – Den här serverhallen är speciell. Den är skalbar och har idag två  moduler som fungerar som både kontor och serverhall. Varje modul har plats för 35 serverrack. De rymliga modulerna skyddas av skottsäkra stålplåtar som vanligtvis används i militära fordon, berättar Jon Karlung, vd Bahnhof.
							p     För att få det så rymdautetiskt som möjligt har Bahnhof samarbetat med Per Lindstrand som har designat och byggt förtältet till anläggningen. Per Lindstrand har tidigare arbetat med fallskärmarna till ESA:s Mars- landare Beagle 2.
							p   Runt hela anläggningen är det som ett rött marslandskap. Det är importerad, rödaktig Scoria-lava från Island som bidrar med den känslan.
						.text-block__text-bold     Får man komma förbi på kaffe? 
						.text-block__text-text - Lajka är bara till för våra företagskunder. Men vill man hyra in sig  är man förstås välkommen att höra av sig för att få en visning, hälsar Kristian Thorin, datahallsansvarig för drift och underhåll. 
					.img-description-wrap
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-based-in-sweden.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Based in Sweden  
								.speech-box__text.speech-box__text_height-auto Märkningen Based in Sweden garanterar 100% lagring på svensk mark. Alla våra datacenter uppfyller denna garanti och ger våra kunder maximal säkerhet mot avlyssning, företagsspionage, myndighetsövervakning och andra former av intrång  i integriteten. 
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-triplegreen.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Triple Green   Triple Green. 
								.speech-box__text.speech-box__text_height-auto Serverhallar förbrukar enormt mycket elektricitet. Därför köper Bahnhof ingen annan el än från vattenkraft, som är en förnybar energikälla. Men inte nog med det: Bahnhof har investerat miljoner i att utveckla en av världens mest klimatsmarta lösningar där vi samlar in värmen från serverhallarna – vilket ger varmvatten och uppvärmning till tusentals bostäder genom fjärrvärmenätet. Tre av Bahnhofs serverhallar uppfyller märkningen
					.text-block__text-title Bildgalleri
					.galery-wrap._mr20
						.galery
							a.galery__item(href="img/img-gal-lajka-big-1.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-1.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-2.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-2.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-3.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-3.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-4.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-4.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-5.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-5.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-6.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-6.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-7.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-7.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-8.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-8.jpg' alt='')
							a.galery__item(href="img/img-gal-lajka-big-9.jpg" data-fancybox="gallery-lajka")
								img(src='img/img-gal-lajka-9.jpg' alt='')
						
						
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row
		include _colocation_client_stories_row
// /content colocation lajka  page
