//content internetaccess campain big  page
main
	
	.container
		include _inner-nav.jade
		.page-banner.page-banner_internetaccess
			.page-banner__title
				.page-banner__caption Internet från  Bahnhof
				p Bahnhof har anslutit många städer och orter via vårt stamnät Northern Light®. Resultatet blir extremt snabba och stabila anslutningar via stadsnät till ett konkurrenskraftigt pris. Vi erbjuder bredband anpassat till allt från små frisörsalonger i Piteå till stora spelföretag i Malmö!
				.page-banner__butn-holder
					a.butn(href="#")
						span BESTÄLL ONLINE <br>VIA STADSNÄT
					a.butn.butn_fs-xl(href="#")
						span BESTÄLL
		.row.text-block
			a.close-butn(href='internetaccess.html') +
			.col-md-6
				.text-block__text
					.text-block__text-title BIG – fast månadspris, inga krångligheter
					.text-block__text-bold Med Bahnhof Internet Giga (BIG) får ditt företag 1 Gbit/s - alltså 1000 Mbit/s - till fast månadspris. Enormt mycket bredband. Inga extra kostnader.
					.text-block__text-text._mb15
						p För företag i Stockholm, Malmö och Göteborg. För närvarande erbjuder vi endast fast pris i de här tre städerna. Ligger ditt kontor på annan ort? Med vårt nya nät Northern Light så ser vi till att skapa ett kanonerbjudande för dig också via Dedikerad anslutning.
						p 
							i.icon.icon_arrow-right-orange
							|Snittpris: 2 950 kr/mån vid nyteckning. Bindningstid: 36 månader. Inga dolda avgifter. Obegränsad trafik. Installation av fastighetsnät ingår. BIG är vårt bästa erbjudande inom bredband till företag: mest, störst och snabbast! 
						P  Leveranstid: Normalt 15 arbetsdagar, men det varierar utifrån förut- sättningarna på adressen. Ring oss på 010-510 00 00 eller beställ <a href='#'>här</a>.  
						.text-block__text-bold Hur kan det vara så snabbt?
						 p  BIG är vårt paketerbjudande för en så kallad dedikerad anslutning.  Anslutningen skiljer sig jämfört med en internetanslutning via stadsnät på så sätt att det är en egen anslutning för endast ditt företag. Ni blir därför inte påverkade av att många är anslutna samtidigt. Dessutom sköter Bahnhof hela driften av nätet (till skillnad från en kombination av aktörer som sker via stadsnätanslutningar), vilket minskar risken för fel och ökar snabbheten vid support.
					.speechbox-border
						.text-block__text-title-thiner Det här ingår i BIG  
						ol.text-block__ol
							li 
								b Startavgift  <br>
								|Du vet den där jobbiga och höga grävkostnaden för att komma igång och som de andra bakar in i avtalet. Det ingår hos oss!  
							li
								b Fastighetsnät <br>
								| Du vet den där kabeln från källaren till kontoret som ingen operatör brukar nämna men så trillar fakturan ner som en blixt från himlen. Det ingår hos oss! 
							li 
								b Fast IP-adress<br>
								| Du vet det där som ni behöver, men som andra operatörer inte nämner då de hyr in sig i ett nät hos en annan operatör. Det ingår hos oss, för vi har ett eget Bahnhofnät!
							li 
								b 1 000 Mbit/s<br>
								| Du vet framtidens hastighet som andra operatörer har svårt att lösa då nätet inte stödjer det eller för att det blir för dyrt för dem att köpa in. Det ingår hos oss!
							li
								b SLA 99,997% <br>
								|Du vet den där garantin på att tjänsterna fungerar, så att ni får ersättning om det ligger nere. Det som de andra operatörerna aldrig nämner eftersom de inte har ett eget nät och det är så dyrt…det ingår hos oss! 
			.col-md-6
				.text-block__img
					.text-block__img-title.text-left
						.text-block__img-title_sm Snittpris
						| 2 950 kr
						.text-block__img-title_md 1 000 Mbit/s
						.text-block__img-title_sm Mest. Störst. Snabbast.
					img(src='img/img-campain-internetaccess-big.png' alt='')
					.campain-butn-holder.campain-butn-holder_left-bottom
						a.butn.butn_fs-xl.butn_buble-left(href="#")
							span BESTÄLL
			
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /content internetaccess campain big  page
