//content internetaccess_foretagsnat  page
main
	
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade

		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title Företagsnät (P2P och P2M)
						.text-block__text-title-thiner Anslutning direkt till servern  
						.text-block__text-text._mb15
							p Fler och fler upptäcker fördelarna med egna säkra anslutningar, skyddade från övrig trafik.
							p P2P/P2M möjliggör flera saker: en enda internetanslutning kan delas på flera kontor, samtidigt som antalet servrar och brandväggar minskar och underhållet förenklas.  P2P till tjänsten är också användbart när servrarna finns på en annan plats. Trafiken mellan kontor och en serverhall blir helt säker och  isolerad från den digitala omgivningen. Genom att kombinera olika överföringstekniker, bland annat fiber, xDSL och LAN-infrastruktur, bygger vi en virtuell punkt-till-punkt-förbindelse.
							p   Anslutningen kan liknas vid en enda nätverkskabel mellan två platser.  
							ul.text-block__ul
								li Tjänsten bygger på Ethernet (IEEE802.3),  VLAN (IEEE802.1Q) och EoMPLS (RFC4448). 
								li Avlämning sker i ändpunkterna genom ett Ethernetgränssnitt (10/100/1000/10 000 Mbit/s).
						.campain-butn-holder.campain-butn-holder_left-bottom-between
							a.butn.butn_buble-left.butn_fs-xl(href="#")
								span BESTÄLL	
				.col-md-6
					.text-block__img
						img(src='img/img-internetaccess-foretagsnat.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /_content_internetaccess_foretagsnat  page
