//content internetaccess_brf page
main
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade
		.sceneElement(data-viewport="1")
			.row.text-block.text-block_bg-white.text-block_pt100
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title Bredband för BRF:er
						.text-block__text-title-thiner Internet spelar en mycket viktig roll i vår vardag
						.text-block__text-text._mb15
							p Fler väljer att jobba hemma, uträtta sina bankärenden, boka resor, köpa varor, se på film, ringa och mejla till nära och kära över hela världen. Vem vet, snart kanske vi även kan rösta via internet. Tjänsterna blir ständigt fler och viktigare i våra liv, därför bör du redan nu ställa höga krav på er internet- anslutning så att den klarar framtidens vardag.
							.text-block__text-bold._mb15 Det här får era medlemmar
							ul.text-block__ul.text-block__ul_li-mb15
								li Bredband i världsklass...med möjlighet att ansluta sig till IP-telefoni och HD-tv via bredbandsuttaget!
								li Extratjänster för bredbandet är Antivirus och Integrity VPN för anonym surf.
								li Egen webbsida, domän och e-postadress ingår för alla abonnenter.
							a._db._mb15(href='#')       Läs mer om våra tjänster för privatkunder här.
							.text-block__text-bold._mb15 Bahnhofs BRF-anslutning är smidig; ni som BRF väljer själva:
							ul.text-block__ul.text-block__ul_li-mb15
								li Anslutningalternativ: Fastighetsnät, lägenhetsnät eller anslutning till fastigheten. 
								li  Smidiga internettjänster: Bredband, HD-TV och IP-telefoni.  
								li Om ni behöver hjälp med byggnation av fastighets- eller lägenhetsnät.  
								li Kollektiva avtal (bastjänst till alla boende) eller individuella avtal (varje boende väljer utbud själv).  
							.text-block__text-bold Inlåst på livstid?!
							p  Vissa kommunikationsoperatörers erbjudande kanske låter jättebra (”vi bekostar fastighetsnätet, och ni kan välja vilken bredbandsleverantör ni vill”), men mycket kan döljas i det finstilta. Prisskillnaderna kan bli stora om man slår ut det på antalet lägenheter, och framför allt om man räknar i förhållande till år.  
						.bordered-table-wrap
							table
								tr
									th Prisjämförelse  1 Gbit/s
									th Via kommunikationsoperatör
									th Via <a href='#'>Bahnhof</a>
								tr
									td   Individuella avtal
									td 769 kr/mån
									td 399 kr/mån 
								ta
									td Gruppanslutning
									td 512 kr/mån
									td 186 kr/mån  
								tr
									td Genomsnittpris per  lägenhet under 15 år
									td 92 150 kr
									td 33 480 kr
							p   Baserat på aktuella priser inkl. moms 2016. Vill du veta vilken  kommunikationsoperatör siffrorna kommer ifrån? Kontakta oss så berättar vi vem.
						
				.col-md-6
					.text-block__text
						.text-block__text-title-thiner._pt40 Så här fungerar det
						.text-block__img.text-block__img_height-auto
							img(src='img/img-internetaccess-brf.png' alt='')
						.text-block__text-bold._mb15 4 tips till er som ska välja bredband till BRF
						.text-block__text-text._mb15
							p <b>Nyttjanderätt.</b> Undersök hur det ligger till med nyttjanderätten. Det finns leverantörer som låser in sina kunder med avtalsklausuler som gör att ingen annan leverantör får komma i närheten av befintliga installationer i fastigheten på 15 år. Oavsett hur missnöjda ni är.
							p <b>  Bindningstid.</b> Undersök hur det ligger till med bindningstiden.  Bahnhof slopar till exempel bindningstiden helt.  
							p <b>Räkna.</b> Ta in offerter och räkna på slutpriset per lägenhet i förhållande till avtalstid.
							p <b>  Mellanhand/kommunikationsoperatör.</b> Agerar leverantören som mellanhand? Det är en mycket onödig utgift som föreningen aldrig kommer att få tillbaka. I riktiga skräckexempel kan det skilja över 50%. Vad är en kommunikationsoperatör då? Det är en samordnare av olika tjänste- leverantörer, man kan säga att om du är ute i skogen och plockar blåbär, får du blåbären från en direktleverantör (blåbärsriset), medan de bär du köper i butik är förmedlade via kommunikationsoperatören (butiken).   
									
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// / content internetaccess_brf  page
