//content colocation thule  page
main
	.container
		include _inner-nav.jade
		include _colocation_banner.jade
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_colocation-thule._mb0
						.text-block__text-title-thiner._c-wh Thule
						.col-sm-4.speech-box.speech-box_hovered.speech-box_dib._bg-white
							.speech-box__title._c-bl Störst i Stockholm City
							.speech-box__text.speech-box__text_height-auto._c-bl   Djupt insprängt i Brunkebergsåsen ligger en av Stockholms största datacenter: Thule. Här kan du hyra en serverplats eller flera rackskåp med egen fysisk access. Thule är en av Sveriges mest energieffektiva anläggningar. Har ni tuffa miljökrav? Bahnhof uppfyller dem med god marginal. 
				.col-sm-6
					.text-block__text._pb0
						.text-block__img._height-auto._mb50
							img(src='img/logo-thule-large.png' alt='')
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakert.png' alt='')
							| Säkert nät  
						.text-block__text-bold Kraftfulla anslutningar 
						.text-block__text-text Thule är bestyckad med Bahnhofs erkänt kraftfulla IP- och Carriertjänster via fullt redundanta routrar och divergerade kabelstråk. Önskar ni egen svartfiber från Stokab eller Skanova finns stora ODF:er redan på plats för snabb och smidig inkoppling.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-brandskydd.png' alt='')
							| Brandskydd och släcksystem
						ul.text-block__ul
							li Hall och utrymmen för tekniska system har VESDA (-aspirerande) rökdetektorer.
							li  Gassläcksystemet i serverhallarna använder släckmedlet IG55, som är en blandning av två i atmosfären naturligt förekommande gaser: kväve och argon.
							li  I övriga lokaler används joniserande och optiska rökdetektorer.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakerhet.png' alt='')
							|Säkerhet och inbrottslarm
						ul.text-block__ul
							li Anläggningen uppfyller säkerhetsklass 3 och larmklass 3.
							li  Kameraövervakning från larmcentral. 
							li Kameraövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larmövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larm från UPS:er, kylsystem, ställverk och dieselgeneratorer är  kopplade till larmövervakningssystemet. 
							li Dörrarna in och ut ur anläggningen är försedda med magnetkontakter och kortläsare – alla rörelser loggas. 
							li Anläggningen kameraövervakas 24/7, 365 dagar om året och alla inspelningar lagras i minst tre månader.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-el.png' alt='')
							|El, värme och kyla
						.text-block__text-bold Dubbla elnät
						.text-block__text-text Fortum levererar dubbla elnät på mellanspänning till fastighetens ställverk. Ställverket har i sin tur dubbla 2 MVA-transformatorer. Om primärnätet eller transformatorn skulle sluta fungera kopplas sekundärnätet in automatiskt.
						.text-block__text-bold Flexibla elfördelningar 
						.text-block__text-text El till rackskåpen distribueras via kanalskenor under golvet till skåpraderna medflyttbara flexibla uttagslådor. Det går snabbt och enkelt att komplettera med fler uttag när behovet ökar eller förändras.
						.text-block__text-bold Extrem effektivitet
						.text-block__text-text Tack vare modern teknik och effektiv design är anläggningen extremt energisnål. Målet för Thule är PUE 1.2.
						.text-block__text-bold      Miljömässig besparing
						.text-block__text-text  Från och med hösten 2014 har överskottsvärmen från servrarna förts vidare till Fortums fjärrvärmenät. Resultatet? Uppvärmda hus, en skonad miljö och lägre kostnader för alla.  
						.text-block__text-bold Nyskapande kylsystem 
						.text-block__text-text Med takhängda fläktluftkylare kan vi lättare ta hand om värmen från servrarna. Systemet tillåter tredubbel effekt per skåp jämfört med traditionella lösningar med underblåsande aggregat. Varje rad betjänas av två fläktluftkylare som tillsammans levererar över 100 kW. Aggregaten är oberoende av varandra även när det gäller styrningen. Fortum förser anläggningen med fjärrkyla via två separata värmeväxlare. Vid förlust av fjärrkyla tar egna vätskekylare över kylaproduktionen.
						.text-block__text-bold   Avbrottsfri kraft 
						.text-block__text-text För avbrottsfri elförsörjning har Thule ett UPS-system som filtrerar bort alla störningar från elnätet. UPS:erna ger batteribackup vid strömbortfall tills dieselgeneratorn startat, vilket sker automatiskt. Antalet generatorer utökas i takt med att anläggningen byggs ut. Kabelvägarna från reserv- kraft till ställverk och från nät till ställverk löper åtskilda från varandra.  
						.text-block__text-bold PDU för exakt debitering 
						.text-block__text-text Samtliga avsäkringar i anläggningen övervakas via ett centralt system för exakt debiteringsunderlag: betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.
				
				.col-md-6
					.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-black._ml-20._mt0
						.text-block__text-title._c-wh Huvudkontor och datahall
						.row
							.col-sm-7.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Öppnade: 2012 
								p Antal personer: ca 40 st
								p Adress: Tunnelgatan 2, Stockholm 
								p Telefon företagskunder: 08-555 771 51
								p E-post företagskunder: <a href='mailto:sales@bahnhof.net'>sales@bahnhof.net</a>
							.col-sm-5.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Pssst! Är du privatkund? Då hittar du support och info på 
								p <a href='#'>Kundservice</a>.
					
					.text-block__text._height-auto._mr20._pt20._pb20
						.text-block__text-bold._mb15 Datahallen och huvudkontoret Thule i Stockholm befinner sig på historisk datahallsmark. Skandiabanken, som hade tidigare gått ihop med bolaget Thule, hade Sveriges största och modernaste kontor på Sveavägen 44. Där fanns också bankens datahall.
						.text-block__text-text 
							p   Skandiabanken har flyttat, men traditionen av att ha datahallar i området fortsätter. I dag ligger Bahnhofs datahall "Thule" precis bakom Skandias gamla kontor, djupt insprängd i Brunkebergsåsen.
							p   På huvudkontoret sitter företagssäljare, drifttekniker, nättekniker, marknad, ekonomi, företagssupport, colotekniker.
						.text-block__text-bold  Det är ganska många som jobbar här. Får alla plats bland  serverskåpen?
						.text-block__text-text 
							p - Serverskåpen får ta över Thule om de vill. Om det blir trångt i serverhallarna bygger vi en ny hall på kontorsvåningen. Det är enklare att flytta människor än rackskåp, säger Johan Smith, Product Sales  Specialist.
							p      Thule är designad av arkitekten Albert France-Lanord som även  designat datahallen Pionen på Södermalm. 
						.text-block__text-bold  Får man komma förbi på kaffe?
						.text-block__text-text  - Thule är framförallt ett vanligt kontor och serverhall. Det betyder att det oftast är personalen som dricker kaffe här. Men några gånger om året bjuder vi in våra företagskunder till företagsevent eller AW med föreläsare. Då är man förstås välkommen förbi!, svarar Pernilla  Arensparr, marknadschef för företagskunder. 
					.img-description-wrap
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-based-in-sweden.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Based in Sweden  
								.speech-box__text.speech-box__text_height-auto Märkningen Based in Sweden garanterar 100% lagring på svensk mark. Alla våra datacenter uppfyller denna garanti och ger våra kunder maximal säkerhet mot avlyssning, företagsspionage, myndighetsövervakning och andra former av intrång  i integriteten. 
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-triplegreen.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Triple Green   Triple Green. 
								.speech-box__text.speech-box__text_height-auto Serverhallar förbrukar enormt mycket elektricitet. Därför köper Bahnhof ingen annan el än från vattenkraft, som är en förnybar energikälla. Men inte nog med det: Bahnhof har investerat miljoner i att utveckla en av världens mest klimatsmarta lösningar där vi samlar in värmen från serverhallarna – vilket ger varmvatten och uppvärmning till tusentals bostäder genom fjärrvärmenätet. Tre av Bahnhofs serverhallar uppfyller märkningen
					.text-block__text-title Bildgalleri
					.galery-wrap._mr20
						.galery
							a.galery__item(href="img/img-gal-thule-big-1.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-1.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-2.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-2.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-3.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-3.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-4.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-4.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-5.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-5.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-6.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-6.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-7.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-7.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-8.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-8.jpg' alt='')
							a.galery__item(href="img/img-gal-thule-big-9.jpg" data-fancybox="gallery-thule")
								img(src='img/img-gal-thule-9.jpg' alt='')
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row.jade
		include _colocation_client_stories_row.jade
// /content colocation thule  page
