//content internetaccess start page
main
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade

		.row.category-link-wrap.sceneElement(data-viewport="-1")
			a.col-sm-20pr.category-link-inner.hvr-back-pulse(href="internetaccess_bredband.html")
				.category-link-inner__title Bredband via stadsnät
				img(src='img/img-inter-cat-1.png' alt='')
			.col-sm-40pr.category-link-inner.category-link-inner_light.category-link-inner_butn-holder.hvr-back-pulse_light
				.category-link-inner__title Storföretag eller start-up? Vi ger dig råd om rätt tjänst för dina behov!
				img(src='img/img-inter-cat-2.png' alt='')
				a.butn.butn_buble-left(href='mailto:sales@bahnhof.net') KONTAKTA MIG
			a.col-sm-40pr.category-link-inner.hvr-back-pulse(href='internetaccess_forbindelse.html')
				.category-link-inner__title Internetförbindelse  från Bahnhof
				img(src='img/img-inter-cat-3.png' alt='')
			a.col-sm-20pr.category-link-inner.category-link-inner_light.hvr-back-pulse_light(href='internetaccess_4gredundans.html')
				.category-link-inner__title Mobil  redundans
				img(src='img/img-inter-cat-4.png' alt='')
			a.col-sm-20pr.category-link-inner.hvr-back-pulse(href='internetaccess_iptransit.html')
				.category-link-inner__title IP-transit & Våglängd
				img(src='img/img-inter-cat-5.png' alt='')
			a.col-sm-20pr.category-link-inner.category-link-inner_light.hvr-back-pulse_light(href='internetaccess_foretagsnat.html')
				.category-link-inner__title Företagsnät
				img(src='img/img-inter-cat-4.png' alt='')
			a.col-sm-20pr.category-link-inner.hvr-back-pulse(href='internetaccess_northern-light.html')
				.category-link-inner__title Northern Light
				img(src='img/img-inter-cat-6.png' alt='')
			a.col-sm-20pr.category-link-inner.category-link-inner_light.hvr-back-pulse_light(href='internetaccess_brf.html')
				.category-link-inner__title BRF
				img(src='img/img-inter-cat-4.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /content internetaccess start page
