// _content_drifttjanster_kontorsnat  page
main
	.container
		include _inner-nav
		include _drifttjanster_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='drifttjanster.html') +
				.col-sm-6
					.text-block__text._height-auto._pb0
						.text-block__text-title Kontorsnät och brandvägg som tjänst
						.text-block__text-text_with-img-left
							img(src='img/icon-drifttjanster-kontorsnat.png' alt='')
							.text-block__text-text
								.text-block__text-title-thiner WiFi på kontoret bara ska  fungera.
								p   Det löser vi. Brandvägg, switchar och trådlösa accesspunkter ger er frihet att slippa allt krångel. Med Kontorsnät som tjänst hanterar vi driftövervakningen och ser till att allting fungerar.     
						ul.text-block__ul
							li Vi kan även fixa Dedikerat kontorsnät, då ni har en dedikerad upp- sättning, exempelvis egen WLC (WLAN Controller).
						.text-block__text-text <b>Boka in Bahnhofs kostnadsfria Pre-site Survey!</b> Det betyder att vi gör en besiktning av er miljö för att kunna erbjuda den mest optimala och kostnadseffektiva planeringen och uppsättningen av ert nya trådlösa kontorsnät. Det är Bahnhofs certifierade tekniker som genomför besiktningen. 
						ul.text-block__ul
							li Pre-site survey: kostnadsfritt och görs i samband med skrivning av avtal. En ockulär kontroll för bästa täckning och uppsättning. 
							li Site Survey komplett: Görs vid större sidor och offereras efter storlek  på lokaler och komplexitet.
						.text-block__text-text_with-img-left
							img(src='img/icon-drifttjanster-kontorsnat1.png' alt='')
							.text-block__text-text
								.text-block__text-title-thiner Managerad brandvägg  
								p Vill ni slippa konfigurera er brandvägg, så kan Bahnhof leverera vad vi kallar Managerad brandvägg. Ni hyr en brandvägg och Bahnhof står för konfiguration och underhåll. Enkelt!      
					.text-block__img._height-auto
						img(src='img/img-drifttjanster-kontorsnat.png' alt='#')
						.text-block__img-title.text-left 
							.text-block__img-subtitle_md En jättebra  kampanj.
						.text-block__img-link-holder
							a(href='#') Läs mer
				.col-md-6
					._bg-white._h100
						.text-block__img._height-auto
							img(src='img/img-drifttjanster-kontorsnat1.png' alt='#')
							.text-block__img-title.text-right 
								.text-block__img-subtitle_md Trött på <br>segt nät?
								.text-block__img-subtitle_sm-black Vi kan fixa <br> 1 000 Mbit/s!
							.text-block__img-link-holder
								a(href='#') Läs mer
						.text-block__text._height-auto
							.text-block__text-text_with-img-left
								img(src='img/icon-drifttjanster-kontorsnat-klientvpn.png' alt='')
								.text-block__text-text
									.text-block__text-title-thiner Klient-VPN (SSL-VPN)
									p   När ni behöver koppla upp en individuell klientdator mot  utrustning placerad i någon av Bahnhofs serverhallar.      
							.text-block__text-text 
								p Tekniken bygger på Cisco AnyConnect som stöder Windows, Linux och  Mac OS/X. Kommunikation mellan klient och server sker huvudsakligen över HTTPS. Denna tjänst kräver aktiv utrustning som klarar dessa krav.       
							.text-block__text-text_with-img-left
								img(src='img/icon-drifttjanster-kontorsnat-site2site.png' alt='')
								.text-block__text-text
									.text-block__text-title-thiner VPN Site2Site
									p     Tjänsten VPN Site2Site används för att koppla ihop kontor eller andra fasta platser och er utrustning i Bahnhofs serverhallar. Det vill säga IPsec-VPN mellan en punkt med fast IP-adress och serverhall.       
							.text-block__text-text 
								p Kommunikationskrav: Bahnhof måste godkänna er IP-adress för att säkerställa att funktionen kan levereras, utöver extra kostnad för t ex separata brandväggar. IP-adressen måste vara en fast publik IP-adress och ni bör även ha utrustning som klarar av VPN-tunnlar över IPsec. Finns ingen sådan utrustning idag så rekommenderar vi Bahnhofs tjänst Managerad brandvägg.       
						.bredband-butn-holder
							a.butn.butn_fs-xl(href="#")
								span BESTÄLL
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _drifttjanster_speech_box_row
		include _client_stories_row.jade
// /_content_drifttjanster_kontorsnat  page
