//content colocation start page
main
	.container
		include _inner-nav.jade
		include _colocation_banner.jade
		.row.category-link-wrap.sceneElement(data-viewport="-1")
			a.col-sm-6.category-link-inner.hvr-back-pulse(href="colocation_colocation-inner.html")
				.category-link-inner__title Colocation
				img(src='img/img-coloc-cat-1.png' alt='')
			a.col-sm-6.category-link-inner.hvr-back-pulse(href='colocation_datacenter.html')
				.category-link-inner__title Upplev våra datacenter
				img(src='img/img-coloc-cat-2.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row.jade
		include _colocation_client_stories_row.jade
// /content colocation start page
