//content colocation sparven  page
main
	.container
		include _inner-nav
		include _colocation_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_colocation-sparven._mb0
						.text-block__text-title-thiner._c-wh Sparven
						.col-sm-4.speech-box.speech-box_hovered.speech-box_dib._bg-white
							.speech-box__title._c-bl Mitt i Malmö  
							.speech-box__text.speech-box__text_height-auto._c-bl   I området Lugnet ligger serverhallen Sparven uppe på högsta våningen. De infrastruktuella fördelarna är samma idag som när Televerket drog sitt kopparnät. Här sammanstrålar fiber och koppar från hela staden. Anläggningen är bemannad under kontorstider, med möjlighet till egen inpassering dygnet runt. Utanför själva serverhallen finns arkitektritade ytor för kundträffar.
				.col-sm-6
					.text-block__text._pb0
						.text-block__img._height-auto._mb50
							img(src='img/logo-sparven-large.png' alt='')
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakert.png' alt='')
							|Säkert nät  
						.text-block__text-bold Kraftfulla anslutningar 
						.text-block__text-text Sparven är bestyckad med Bahnhofs erkänt kraftfulla IP- och Carriertjänster via fullt redundanta routrar och divergerade kabelstråk. Önskar du egen svartfiber från Malmö stad eller Skanova finns stora ODF:er redan på plats för snabb och smidig inkoppling.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-brandskydd.png' alt='')
							|Brandskydd och släcksystem
						ul.text-block__ul
							li Hall och utrymmen för tekniska system har VESDA (-aspirerande) rökdetektorer.
							li  Gassläcksystemet i serverhallarna använder släckmedlet Novec 1230
							li  I övriga lokaler används joniserande och optiska rökdetektorer.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakerhet.png' alt='')
							|Säkerhet och inbrottslarm
						ul.text-block__ul
							li Anläggningen uppfyller säkerhetsklass 3 och larmklass 3.
							li  Kameraövervakning från larmcentral. 
							li Kameraövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larmövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larm från UPS:er, kylsystem, ställverk och dieselgeneratorer är  kopplade till larmövervakningssystemet. 
							li Dörrarna in och ut ur anläggningen är försedda med magnetkontakter och kortläsare – alla rörelser loggas. 
							li Anläggningen kameraövervakas 24/7, 365 dagar om året och alla inspelningar lagras i minst tre månader.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-el.png' alt='')
							|El, värme och kyla
						.text-block__text-bold Säkert ställverk
						.text-block__text-text  Lågspänning till eget ställverk med reservkraftsautomatik. Ställverket bygger på den senaste tekniken – även mycket avancerat underhåll kan utföras utan avbrott. Ställverket har dubbla 1 MVA-transformatorer.
						.text-block__text-bold   Dubbla elnät 
						.text-block__text-text Eon levererar dubbla elnät på mellanspänning till fastighetens ställverk.  
						.text-block__text-bold Total effekt 
						ul.text-block__ul
							li Enskilda rack >10 kW.  
							li Hela anläggningen ~500 kW.
						.text-block__text-bold   Effektivitet 
						.text-block__text-text Målet för Sparven är PUE 1.2.  
						.text-block__text-bold Nyskapande kylsystem
						.text-block__text-text  Hallens fläktluftkylare har kyleffekt på upp till 60 kW per modul. Kylproduktionen är redundant med två skilda system. Sparven klimatiseras enligt ASHRAE:s regler.  
						.text-block__text-bold Avbrottsfri kraft
						.text-block__text-text  För avbrottsfri elförsörjning har Sparven ett UPS-system som filtrerar bort alla störningar från elnätet. UPS:erna har modulredundans och batteri- backup för mer än 10 minuter vid full belastning.
						.text-block__text-bold   PDU för exakt debitering 
						.text-block__text-text Samtliga avsäkringar i anläggningen övervakas via ett centralt system för exakt debiteringsunderlag: betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.
						.text-block__text-bold   Automatisk reservkraft
						.text-block__text-text  Sparven har en automatstartande dieselgenerator vars effekt kan driva hela anläggningen. Kabelvägarna från reservkraft till ställverk och från nät till ställverk löper åtskilda från varandra.
				
				.col-md-6
					.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-black._ml-20._mt0
						.text-block__text-title._c-wh Säljkontor och datahall  
						.row
							.col-sm-7.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Öppnade: 1 september 2014 
								p Antal personer: ca 12 st
								p Adress: Storgatan 15 B, Malmö
								p Telefon företagskunder: 040-606 50 00
								p E-post företagskunder: <a href='mailto:sales@bahnhof.net'>sales@bahnhof.net</a>
							.col-sm-5.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Pssst! Är du privatkund? Då hittar du support och info på 
								p <a href='#'>Kundservice</a>.
					
					.text-block__text._height-auto._mr20
						.text-block__text-bold._mb15 Bahnhofs kontor i Malmö har ett spektakulärt retrorymdtema. Den gamla telestationen är i sig ett stycke industriell historia som har kvar sina  pansarluckor för fönstren.
						.text-block__text-text   Läget för en datahall i Malmö kunde inte vara bättre. All infrastruktur i form av fiber och koppar sammanstrålar här. Ska man välja ett enda läge i Malmö för att lägga en datahall måste det vara i just området Lugnet. Datahallen som ligger på femte våningen ger dessutom servrarna extra säkerhet vid skyfall och översvämningar.  
						.text-block__text-bold Hur skulle du beskriva Malmökontoret?
						.text-block__text-text  – Kontoret och datahallen ligger mitt i smeten trots att området kallas Lugnet, säger Andreas Moberg, områdesansvarig Syd. För att fullfölja rymdtemat ända ut i fingerspetsarna har vi så klart en fullskalig astronautdräkt för den som vill prova på lite moonwalk.
						.text-block__text-bold Bjuder ni på kaffe?
						.text-block__text-text
							p  – Det är alltid någon på kontoret vardagar mellan 8–17 och självfallet står alltid kaffet på för såväl nya som befintliga kunder, säger Andreas Moberg.
							p   På Sparven jobbar omkring 12 personer. Här finns bland annat företagssäljare, nättekniker, installationstekniker, colocationtekniker.  
					.img-description-wrap
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-based-in-sweden.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Based in Sweden  
								.speech-box__text.speech-box__text_height-auto Märkningen Based in Sweden garanterar 100% lagring på svensk mark. Alla våra datacenter uppfyller denna garanti och ger våra kunder maximal säkerhet mot avlyssning, företagsspionage, myndighetsövervakning och andra former av intrång  i integriteten. 
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-triplegreen.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Triple Green   Triple Green. 
								.speech-box__text.speech-box__text_height-auto Serverhallar förbrukar enormt mycket elektricitet. Därför köper Bahnhof ingen annan el än från vattenkraft, som är en förnybar energikälla. Men inte nog med det: Bahnhof har investerat miljoner i att utveckla en av världens mest klimatsmarta lösningar där vi samlar in värmen från serverhallarna – vilket ger varmvatten och uppvärmning till tusentals bostäder genom fjärrvärmenätet. Tre av Bahnhofs serverhallar uppfyller märkningen
					.text-block__text-title Bildgalleri
					.bg-content-block._bg-transparent._mr20.galery
						a.galery__item(href="img/img-gal-sparven-big-1.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-1.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-2.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-2.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-3.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-3.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-4.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-4.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-5.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-5.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-6.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-6.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-7.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-7.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-8.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-8.jpg' alt='')
						a.galery__item(href="img/img-gal-sparven-big-9.jpg" data-fancybox="gallery-sparven")
							img(src='img/img-gal-sparven-9.jpg' alt='')
						
						
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row
		include _colocation_client_stories_row
// /content colocation sparven  page
