//content internetaccess_4gredundans  page
main
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade

		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__text
						.text-block__text-title Mobil redundans
						.text-block__text-title-thiner När du alltid behöver vara uppkopplad  
						.text-block__text-text
							p Tjänsten Mobil redundans från Bahnhof innebär en alternativ förbindelse via mobilnätet i de fall den vanliga internetaccessen avbryts, till exempel på grund av driftstörningar.
							p   Det är ett måste för företaget som alltid behöver vara uppkopplat, och vi kan via 4G bidra med en snabb och stabil uppkoppling. Trådlöst så klart! För varför sitta och sura över en avgrävd fiberkabel när man kan använda mobilnätet och bara jobba vidare?  
						.campain-butn-holder.campain-butn-holder_right-bottom
							a.butn.butn_fs-xl(href="#")
								span BESTÄLL	
				.col-md-6
					.text-block__img
						img(src='img/img-internetaccess-4gredundancy.png' alt='')
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row
		include _client_stories_row
// /content internetaccess_4gredundans  page
