// _content_drifttjanster_backup  page
main
	.container
		include _inner-nav
		include _drifttjanster_banner
		.sceneElement(data-viewport="1")
			.row.text-block._mlr0
				a.close-butn(href='drifttjanster.html') +
				.col-sm-6._plr0
					.text-block__text._pb85
						.text-block__text-title._mb40 Backup, patchning <br>  och driftövervakning
						.text-block__text-text_with-img-left
							img(src='img/icon-drifttjanster-backup-backup.png' alt='')
							.text-block__text-text
								.text-block__text-title-thiner Backup  
								p Backup kan utföras av utrustning som är placerad i någon av Bahnhofs serverhallar eller på servrar placerade hos er (distansbackup). Backupschemat bygger på att det tas inkrementell backup, vilket innebär att det endast tas backup på förändrade filer och databaser som sedan sparas enligt avtal.     
						ul.text-block__ul
							li Den första backupen blir alltid en full backup.
							li  I backuptjänster ingår licens för backupprogramvara.
							li  Backup kan utföras på WIN och Linux, vm- eller filnivå.
							li  Backup kan göras på följande databaser; SQL, Exchange, Sharepoint och MySQL.
							li  Återläsning av data sker enligt löpande taxa efter en beställning. 
						.speechbox-border.speechbox-border_buble-top-left._mb20
							.text-block__text-text
								p <b>En egen portal för återläsning:</b> Bahnhof erbjuder även en webb- portal där ni själva kan göra återläsningar och starta backup.  Kommunikationskrav: Fast förbindelse mellan Bahnhof och er  utrustning eller VPN-tunnel. För VPN krävs det att ni har en aktiv utrustning som klarar av detta.
								p <b>  Expressroute:</b> Om ni vill köra backup mot Office 365/Azure så  rekommenderar vi tjänsten Expressroute. Expressroute är en nätverks- tjänst som kopplas till Azure för att öka bandbredden och minska latens mellan molnet och Bahnhofs backuptjänst. Detta är en användbar tjänst för er som vill ha säkerheten med svensklagrad data, men ändå ha en del data publikt.       
						.text-block__text-text_with-img-left
							img(src='img/icon-drifttjanster-backup-driftovervakning.png' alt='')
							.text-block__text-text
								.text-block__text-title-thiner Driftövervakning  
								p Har du din utrustning i våra serverhallar i kan du ta del av tjänsten Driftövervakning. Vårt automatiska övervakningssystem bevakar då dina servrar och kringutrustning.
						.text-block__text-text
							p För att ta del av tjänsten krävs det att en klient installeras på servern. För övervakning av hårdvara krävs även SNMP. Installation och konfiguration av SNMP kan skötas av Bahnhof mot en löpande kostnad. Driftövervakning ingår i <a href='#'>IT-drift</a> som tjänst.
						.butn-holder-bottom-center
							a.butn.butn_fs-xl(href="#")
								span BESTÄLL
				.col-md-6._plr0
					.text-block__img._height-auto
						img(src='img/img-drifttjanster-backup.png' alt='#')
					.text-block__text._height-auto
						.text-block__text-text_with-img-left
							img(src='img/icon-drifttjanster-kontorsnat-patching.png' alt='')
							.text-block__text-text
								.text-block__text-title-thiner Patchning  
								p   Patchning kan utföras utrustning placerad i samtliga av Bahnhofs serverhallar. Varje vecka testar vi aktuella uppdateringar  i vår testmiljö. De uppdateringar som inte orsakar problem installeras automatiskt efterföljande natt till måndag 03:00-05.00, om inget annat överenskommits.      
						.text-block__text-text 
							p På så sätt har ni regelbundet de senaste uppdateringarna – men inte utan att de först testats. Patchning kan utföras både för Linux och Microsoft.       Ingår i IT-drift som tjänst (Automatisk patchning).      Tjänsten Manuell patchning finns som tillval. 
						.speechbox-border.speechbox-border_buble-top-left._mb20
							.text-block__text-text
								p <b>Patchning av OS (Automatisk WSUS):</b> Uppdateringar utförs varje månad av serverplattformarna. Vissa av uppdateringarna klassas som ”Critical and Security” av Microsoft eftersom de bör installeras så fort som möjligt – detta för att undvika att servermiljön utsätts för hot och attacker.
								p <b>    Patchning av Linux:</b> Automatisk patchning av Linux sker via Ansible enligt ett fördefinierat schema, eller enligt specifikt schema som designats ihop med er.
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _drifttjanster_speech_box_row
		include _client_stories_row.jade
// /_content_drifttjanster_backup  page
