//content colocation sterik  page
main
	.container
		include _inner-nav
		include _colocation_banner
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='colocation.html') +
				.col-sm-12
					.bg-content-block.bg-content-block_colocation-sterik._mb0
						.text-block__text-title-thiner._c-wh S:t Erik
						.col-sm-4.speech-box.speech-box_hovered.speech-box_dib._bg-white
							.speech-box__title._c-bl Den första  
							.speech-box__text.speech-box__text_height-auto._c-bl Bahnhofs första datahall har inte bara en särskild plats  i våra hjärtan, utan är också vår mest välbeprövade.  S:t Erik är beläget på Norra Stationsgatan 61 i Stockholm. Byggnaden hyser idag flertalet företag, men innan 1967  var adressen känd som ”Bilpalatset”.
				.col-sm-6
					.text-block__text._pb0
						.text-block__img._height-auto._mb50
							img(src='img/logo-sterik-large.png' alt='')
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakert.png' alt='')
							|Säkert nät  
						.text-block__text-bold Kraftfulla anslutningar 
						.text-block__text-text S:t Erik är bestyckad med Bahnhofs erkänt kraftfulla IP- och Carriertjänster via fullt redundanta routrar och divergerade kabelstråk. Önskar ni egen svartfiber från Stokab eller Skanova finns stora ODF:er redan på plats för snabb och smidig inkoppling.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-brandskydd.png' alt='')
							|Brandskydd och släcksystem
						ul.text-block__ul
							li Hall och utrymmen för tekniska system har VESDA (-aspirerande) rökdetektorer.
							li  Gassläcksystemet i serverhallarna använder släckmedlet Novec 1230
							li  I övriga lokaler används joniserande och optiska rökdetektorer.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-sakerhet.png' alt='')
							|Säkerhet och inbrottslarm
						ul.text-block__ul
							li Anläggningen uppfyller säkerhetsklass 3 och larmklass 3.
							li  Kameraövervakning från larmcentral. 
							li Kameraövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larmövervakningssystem kopplat till Bahnhofs driftpersonal.
							li  Larm från UPS:er, kylsystem, ställverk och dieselgeneratorer är  kopplade till larmövervakningssystemet. 
							li Dörrarna in och ut ur anläggningen är försedda med magnetkontakter och kortläsare – alla rörelser loggas. 
							li Anläggningen kameraövervakas 24/7, 365 dagar om året och alla inspelningar lagras i minst tre månader.
						.text-block__text-title.text-block__text-title_with-img
							img(src='img/icon-thule-el.png' alt='')
							|El, värme och kyla
						.text-block__text-bold Flexibla elfördelningar
						.text-block__text-text   El till rackskåpen distribueras via kanalskenor under golvet till skåpraderna medflyttbara flexibla uttagslådor. Det går snabbt och enkelt att komplettera med fler uttag när behovet ökar eller förändras.
						.text-block__text-bold     Miljömässig besparing 
						.text-block__text-text Överskottsvärmen från servrarna förs vidare till Fortums fjärrvärmenät. Resultatet? Uppvärmda hus, en skonad miljö och lägre kostnader för alla.
						.text-block__text-bold   Nyskapande kylsystem
						.text-block__text-text    Med takhängda fläktluftkylare kan vi lättare ta hand om värmen från servrarna. Systemet tillåter tredubbel effekt per skåp jämfört med traditionella lösningar med underblåsande aggregat. Varje rad betjänas av två fläktluftkylare som tillsammans levererar över 100 kW. Aggregaten är oberoende av varandra även när det gäller styrningen. Fortum förser anläggningen med fjärrkyla via två separata värmeväxlare. Vid förlust av fjärrkyla tar egna vätskekylare över kylaproduktionen.
						.text-block__text-bold   Avbrottsfri kraft 
						.text-block__text-text För avbrottsfri elförsörjning har S:t Erikett UPS-system som filtrerar bort alla störningar från elnätet. UPS:erna ger batteribackup vid strömbortfall tills dieselgeneratorn startat, vilket sker automatiskt. Antalet generatorer utökas i takt med att anläggningen byggs ut. Kabelvägarna från reserv- kraft till ställverk och från nät till ställverk löper åtskilda från varandra.  
						.text-block__text-bold PDU för exakt debitering
						.text-block__text-text  Samtliga avsäkringar i anläggningen övervakas via ett centralt system för exakt debiteringsunderlag: betala bara för den el ni förbrukar. Vi kan tillhandahålla alla standardiserade avsäkringstyper, både på 1- och 3-fas.
				.col-md-6
					.speech-box.speech-box_large-padding.speech-box_buble-top-center.speech-box_hovered._bg-black._ml-20._mt0
						.text-block__text-title._c-wh Säljkontor och datahall  
						.row
							.col-sm-7.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Öppnade: 2000
								p Antal personer:  ca 10 st
								p Adress: Norra Stationsgatan 61, Stockholm 
								p Telefon företagskunder: 08-555 771 51
								p E-post företagskunder: <a href='mailto:sales@bahnhof.net'>sales@bahnhof.net</a>
							.col-sm-5.text-block__text-text.text-block__text-text_p-mb0._c-wh
								p Pssst! Är du privatkund? Då hittar du support och info på 
								p <a href='#'>Kundservice</a>.
					
					.text-block__text._height-auto._mr20._pt20._pb20
						.text-block__text-bold._mb15 S:t Erik, eller Norra som den också kallas, är Bahnhofs interna stolthet eftersom det är vår första serverhall, den har en speciell plats i våra  hjärtan. Den är lokaliserad vid Norra Stationsgatan i centrala Stockholm.
						.text-block__text-bold   Norra är Triple Green-märkt. Vad betyder det? 
						.text-block__text-text 
							p - Det betyder att S:t Erik är, precis som serverhallarna Pionen och Thule, ansluten till fjärrvärmenätet. I norra Stockholm är det Bahnhofs server- hall S:t Erik som värmer upp kringliggande fastigheter, berättar Mikael Lundberg, f d chef för Bahnhofs serverhallar. 
							p   Anläggningen är utrustad med modern teknik och har fokus på högsta driftsäkerheten med UPS, reservkraftverk, precisionskyla, kameraövervakning samt ett fullständigt inbrotts- och brandskydd. S:t Erik är direkt- ansluten till Bahnhofs stamnätnoder och har hög internetkapacitet.
						.text-block__text-bold   Norra är även ett kontor, vilka är det som jobbar här? 
						.text-block__text-text - Här sitter delar av Drifttjänster-teamet som jobbar med våra företags- kunders IT-drift. Det är en fördel för oss att kunna sitta så här nära servermiljön när vi behöver göra diverse tester, säger Adam Iveslätt, chef för teamet Drifttjänster. Han fortsätter: Drifttjänster finns på de flesta av Bahnhofs kontor i Sverige, det gör att vi kan rekrytera drifttekniker från hela landet och att vi finns nära våra kunder. Alltså, bra för oss och bra för våra kunder!
					.img-description-wrap
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-based-in-sweden.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Based in Sweden  
								.speech-box__text.speech-box__text_height-auto Märkningen Based in Sweden garanterar 100% lagring på svensk mark. Alla våra datacenter uppfyller denna garanti och ger våra kunder maximal säkerhet mot avlyssning, företagsspionage, myndighetsövervakning och andra former av intrång  i integriteten. 
						.img-description.text-left._df._mb15
							img(src='img/icon-thule-triplegreen.png' alt='')
							.speech-box.speech-box_buble-left-center.speech-box_dib.speech-box_buble-left-side._bg-black
								.speech-box__title Triple Green   Triple Green. 
								.speech-box__text.speech-box__text_height-auto Serverhallar förbrukar enormt mycket elektricitet. Därför köper Bahnhof ingen annan el än från vattenkraft, som är en förnybar energikälla. Men inte nog med det: Bahnhof har investerat miljoner i att utveckla en av världens mest klimatsmarta lösningar där vi samlar in värmen från serverhallarna – vilket ger varmvatten och uppvärmning till tusentals bostäder genom fjärrvärmenätet. Tre av Bahnhofs serverhallar uppfyller märkningen
					.text-block__text-title Bildgalleri
					.galery-wrap._mr20
						.galery
							a.galery__item(href="img/img-gal-sterik-big-1.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-1.jpg' alt='')
							a.galery__item(href="img/img-gal-sterik-big-2.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-2.jpg' alt='')
							a.galery__item(href="img/img-gal-sterik-big-3.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-3.jpg' alt='')
							a.galery__item(href="img/img-gal-sterik-big-4.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-4.jpg' alt='')
							a.galery__item(href="img/img-gal-sterik-big-5.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-5.jpg' alt='')
							a.galery__item(href="img/img-gal-sterik-big-6.jpg" data-fancybox="gallery-sterik")
								img(src='img/img-gal-sterik-6.jpg' alt='')
						
						
				.col-sm-12
					include _colocation_datacenter_links
						
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _colocation_speech_box_row
		include _colocation_client_stories_row
// /content colocation sterik  page
