//content internetaccess bredband  page
main
	.container
		include _inner-nav.jade
		include _internetacces_banner.jade
		.sceneElement(data-viewport="1")
			.row.text-block
				a.close-butn(href='internetaccess.html') +
				.col-md-6
					.text-block__img
						.text-block__img-title Från 10 till  1 000 Mbit/s
						img(src='img/img-internetaccess_bredband-text.png' alt='')
						.text-block__img-subtitle Snabb aktivering, beställ direkt på webben!
				.col-md-6
					.text-block__text
						.text-block__text-title Bredband via stadsnät
						.text-block__text-sub-title För företaget som redan har blivit  anslutet till stadsnät – eller redan har bredband via stadsnät hos en annan  operatör men vill byta till Bahnhof.
						.text-block__text-text För att vi ska kunna ge dig ett korrekt pris måste du ange vilken stad du  befinner dig i, alternativt vilket stadsnät du är ansluten till, för att få rätt pris. Villkoren, priser och hastigheter varierar mellan olika stadsnät. Fyll i formuläret nedan för att beställa på direkten. Leveranstid 1-5 dagar.
						.text-block__text-sub-title Ge mig ett pris!
						.inputs
							.input
								.input__title Fyll i din adress:
								input(type='text' name='adress')
							p Vet du redan vilket stadsnät du tillhör, eller vill se vilka stadsnät som finns i din kommun? Välj manuellt här nedan.
							.input
								select(style='opacity:0; pointer-ivents:none;')
									option(value="" disabled selected) Ort
									option(value='Option1') Option1
									option(value='Option2') Option2
									option(value='Option3') Option3
									option(value='Option4') Option4
							.input
								select(style='opacity:0; pointer-ivents:none;' )
									option(value="" disabled selected) Område
									option(value='Option1') Option1
									option(value='Option2') Option2
									option(value='Option3') Option3
									option(value='Option4') Option4
							.input
								select(style='opacity:0; pointer-ivents:none;')
									option(value="" disabled selected) Stadsnät
									option(value='Option1') Option1
									option(value='Option2') Option2
									option(value='Option3') Option3
									option(value='Option4') Option4
			.row.text-block.text-block_bg-white
				.col-md-6
					.text-block__text
						.text-block__text-sub-title Kontaktuppgifter
						.input.input_margin-bottom
							.input__wrap
								.input__title Företag
								input(type='text' name='business')
							.input__wrap
								.input__title Org. nummer 
								input(type='text' name='orgNumber')
							.input__wrap
								.input__title Adress
								input(type='text' name='adress')
							.input__wrap
								.input__title Postnummer
								input(type='text' name='zipCode')
							.input__wrap
								.input__title Ort
								input(type='text' name='place')
							.input__wrap
								.input__title Förnamn
								input(type='text' name='firstName')
							.input__wrap
								.input__title Efternamn
								input(type='text' name='surname')
							.input__wrap
								.input__title Telefon
								input(type='tel' name='phone')
							.input__wrap
								.input__title E-mail 
								input(type='email' name='email')
						.input
							label.radio-label
								input(type='radio' name='invoice' value='pdf' checked)
								| Jag vill ha fakturan skickad till min mejladress som PDF (0 kr/faktura) 
							label.radio-label
								input(type='radio' name='invoice' value='paper')
								| Jag vill ha en pappersfaktura med vanligt brev (25 kr/faktura) 
							label.checkbox-label.jsToggleSlideBox
								input(type="checkbox" value="separate-address")
								| Klicka här om du vill ha fakturan skickad till en separat adress.
							.checkbox-slide-block
								.input__wrap
									.input__title 	Adress: 
									input(type='text' name='adress')
								.input__wrap
									.input__title Postnummer och ort: 
									input(type='text' name='postcode-city')
								.input__wrap
									.input__title Kommentar:
									input(type='text' name='comment')
							label.checkbox-label.jsToggleSlideBox
								input(type="checkbox" value="separate-address")
								| Klicka här om du vill ha fakturan skickad till en separat e-mail 
							.checkbox-slide-block
								.input__wrap
									.input__title 	Adress: 
									input(type='text' name='adress')
								.input__wrap
									.input__title Postnummer och ort: 
									input(type='text' name='postcode-city')
								.input__wrap
									.input__title Kommentar:
									input(type='text' name='comment')
				.col-md-6
					.text-block__text
						.text-block__text-sub-title De här hastigheterna har vi för dig!
						.row
							.col-md-6
								.input
									label.radio-label
										input(type='radio' name='speed' value='10' checked)
										span.text-justify
											span 10 Mbit/s 
											span 
												span._c-lagoon XXX   
												|   kr/mån
									label.radio-label
										input(type='radio' name='speed' value='100/10')
										span.text-justify
											span 100/10 Mbit/s 
											span 
												span._c-lagoon XXX 
												|  kr/mån
									label.radio-label
										input(type='radio'  name='speed' value="100/100")
										span.text-justify
											span 100/100 Mbit/s
											span 
												span._c-lagoon XXX 
												| kr/mån
									label.radio-label
										input(type='radio' name='speed' value='250/100')
										span.text-justify
											span  250/100 Mbit/s
											span 
												span._c-lagoon XXX 
												| kr/mån
									label.radio-label
										input(type='radio' name='speed' value='500/100')
										span.text-justify
											span  500/100 Mbit/s
											span 
												span._c-lagoon XXX 
												| kr/mån
									label.radio-label
										input(type='radio' name='speed' value="1000/100")
										span.text-justify
											span 1000/100 Mbit/s 
											span 
												span._c-lagoon XXX 
												| kr/mån
								
							.col-md-6
								.input
									label.checkbox-label
										input(type="checkbox" value="agree")
										| Ja, jag vill ha 3 månader kostnadsfritt bredband och godkänner härmed 36 månaders bindningstid (annars 0 månader bindningstid).
									.input__title Aktivera bredbandet tidigast:  
										P (ÅÅMMDD)
									input(type='text' name='postcode-city')
						.speech-box.speech-box_hovered._bg-denim
							.row.speech-box__text.speech-box__text_height-auto
								.col-sm-6 Din engångsavgift:XXXkr  Bindningstid:XXXmån
								.col-sm-6 Din månadsavgift:XXXkr 
						.input
							label.checkbox-label
								input(type="checkbox" name='terms' value="agree")
								| Jag har läst Bahnhofs 
								a(href='#') allmänna villkor 
								| och jag har rätt att ingå avtal som representant för mitt företag
							label.checkbox-label
								input(type="checkbox" name='special-conditions' value="agree")
								| Jag har läst
								a(href='#')  Särskilda villkor för bredband via stadsnät 
						.recaptcha-wrap
							.g-recaptcha(data-sitekey='6LfwjTQUAAAAAFGhCi1QYbMkbTcg555p3911fwuP')
					.bredband-butn-holder
						a.butn.butn_fs-xl(href="#")
							span BESTÄLL
			
		.speech-boxes-wrap__title Du kanske också är intresserad av...
		include _speech_box_row.jade
		include _client_stories_row.jade
// /content internetaccess bredband page
