// Drifttjänster banner
.page-banner.page-banner_drifttjanster
	.page-banner__title
		.page-banner__caption Drifttjänster
		p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking 
	.page-banner__butn-holder
		.col-sm-6
			a.butn.butn_fs-xl(href="#")
				span BESTÄLL
// /Drifttjänster banner
