.row.speech-boxes-wrap#p3
	a.col-md-3.speech-box._bg-dark-purple(href='#')
		.speech-box__content
			.speech-box__title Internet  
			.speech-box__text  Bahnhof har anslutit många städer och orter via vårt stamnät Northern Light®. Resultatet blir extremt snabba och stabila anslutningar till ett konkurrenskraftigt pris.
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-denim(href='#')
		.speech-box__content
			.speech-box__title Företagsnät  
			.speech-box__text  P2P/P2M möjliggör flera saker: en enda internetanslutning kan delas på flera kontor, samtidigt som antalet servrar och brandväggar minskar och underhållet förenklas.  
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-lagoon(href='#')
		.speech-box__content
			.speech-box__title Våglängd
			.speech-box__text Tack vare vårt kraftfulla våglängds- nät kan vi erbjuda extremt få routerhopp och korta pingtider till nordiska knutpunkter. Vi levererar upp till 100 Gbit/s mellan valfria städer i Bahnhofs skandinaviska stamnät.
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-white(href='#')
		.speech-box__content
			.speech-box__title Colocation  
			.speech-box__text  Co-location hos Bahnhof ger trygghet. Med en server hos Bahnhof garanterar vi er en extremt hög driftsäkerhet och tillgänglighet.  
		.speech-box__link 
			span   Läs mer
