// footer
footer
	.container
		.socials
			a.fb(href='https://www.facebook.com/Bahnhof-100171626779075/', target='blank')
			a.in(href='https://se.linkedin.com/company/bahnhof', target='blank')
			a.tw(href='https://twitter.com/bahnhofab?lang=sv', target='blank')
			a.yt(href='https://www.youtube.com/user/BahnhofAB', target='blank')
			a.ins(href='https://www.instagram.com/bahnhofbahnhof/', target='blank')
			a.insTec(href='https://www.instagram.com/bahnhof_techniciansatwork/', target='blank')
		a.legal(href='#') Legal
// /footer
    
