//header
header
	.container.d-flex.justify-content-between
		.logo
			a(href="index.html")
				img(src='img/logo-main.png' alt='logo')
		
		.hamburger.jsToggleMenu(role='button')
			img(src="img/menu-blue.png" alt='menu')
			ul#nav
				li
					a.top-right-absolute(href="#") In English
					a(href='#') Internet från Bahnhof
				li
					a(href="#")  Bahnhof Cloud 
				li
					a(href="#") Co-location
				li
					a(href="#") Drifttjänster 
				li
					a(href="#") Telefoni
				li
					a(href="#")  Beställ
				li
					a(href="#")  Nyheter 
				li
					a(href="#") Kundservice & Hjälp 
				li
					a(href="#") Kontaktuppgifter
				li
					a(href="#") Om Bahnhof 
				li
					a(href="#") Driftinfo 
				li.border-top
					a(href="#") Logga in på Mina Företagssidor 
				li
					a(href="#") Gå till Bahnhof för privatkunder
// / header
