// internetacces banner


.page-banner.page-banner_internetaccess
	.page-banner__title
		.page-banner__caption Internet från  Bahnhof
		p Bahnhof har anslutit många städer och orter via vårt stamnät Northern Light®. Resultatet blir extremt snabba och stabila anslutningar via stadsnät till ett konkurrenskraftigt pris. Vi erbjuder bredband anpassat till allt från små frisörsalonger i Piteå till stora spelföretag i Malmö!
	.page-banner__butn-holder
		.col-sm-6
			a.butn(href="#")
				span BESTÄLL ONLINE <br>VIA STADSNÄT
			a.butn.butn_fs-xl(href="#")
				span BESTÄLL
	
// /internetacces banner
