.row.speech-boxes-wrap#p3
	a.col-md-3.speech-box._bg-dark-purple(href='#')
		.speech-box__content
			.speech-box__title Om Bahnhof  
			.speech-box__text  Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-denim(href='#')
		.speech-box__content
			.speech-box__title Kundservice  & Hjälp 
			.speech-box__text  Lorem ipsum dolor sit. Lorem ipsum dolor sit.
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-lagoon(href='#')
		.speech-box__content
			.speech-box__title Nyheter
			.speech-box__text  Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit
		.speech-box__link 
			span   Läs mer
	a.col-md-3.speech-box._bg-white(href='#')
		.speech-box__content
			.speech-box__title Kontaktuppgifter
			.speech-box__text  Lorem ipsum dolor sit. 
		.speech-box__link 
			span   Läs mer
