
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Bahnhof</title>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet"/>
<link rel="stylesheet" href="vendor/css/bootstrap.min.css"/>
<link rel="stylesheet" href="vendor/css/hover.css"/>
<link rel="stylesheet" href="vendor/css/jquery.fancybox.min.css"/>
<link rel="stylesheet" href="vendor/css/jquery.formstyler.css"/>
<link rel="stylesheet" href="vendor/css/normalize.css"/>
<link rel="stylesheet" href="css/style.css"/>