doctype html
html
	head
		include ./_head.jade
	body
		#main
			include ./components/_header
			include ./components/_content_drifttjanster_kontorsnat
			include ./components/_footer
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/popper.js")
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.smoothState.min.js")
		script(src="vendor/js/modernizr.min.js")
		script(src="js/main.js")
		//- endinject
