doctype html
html
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		include ./components/_content.jade
		include ./components/_footer.jade
	
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/popper.js")
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.smoothState.min.js")
		script(src="vendor/js/modernizr.min.js")
		script(src='https://www.google.com/recaptcha/api.js')
		script(src="js/main.js")
		//- endinject
