doctype html
html
	head
		include ./_head.jade
	body
		#main
			include ./components/_header.jade
			include ./components/_content_internetaccess_bredband.jade
			include ./components/_footer.jade
			script(type='text/javascript', charset='UTF-8', async='').
				(function($) {
				$(function() {
				$('input, select').styler({
				});
				});
				})(jQuery);
			script(src='https://www.google.com/recaptcha/api.js')
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/popper.js")
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.smoothState.min.js")
		script(src="vendor/js/modernizr.min.js")
		script(src="js/main.js")
		//- endinject
