/*--== fonts ==--*/
@font-face {
  font-family: 'Stag';
  src: url("../fonts/stag/Stag-Bold.eot");
  src: url("../fonts/stag/Stag-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/stag/Stag-Bold.woff") format("woff"), url("../fonts/stag/Stag-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("../fonts/stag/Stag-Book.eot");
  src: url("../fonts/stag/Stag-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/stag/Stag-Book.woff") format("woff"), url("../fonts/stag/Stag-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("../fonts/stag/Stag-BookItalic.eot");
  src: url("../fonts/stag/Stag-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/stag/Stag-BookItalic.woff") format("woff"), url("../fonts/stag/Stag-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Stag';
  src: url("../fonts/stag/Stag-Medium.eot");
  src: url("../fonts/stag/Stag-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/stag/Stag-Medium.woff") format("woff"), url("../fonts/stag/Stag-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Stag';
  src: url("../fonts/stag/Semibold.eot");
  src: url("../fonts/stag/Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/stag/Semibold.woff") format("woff"), url("../fonts/stag/Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

/*--== /fonts ==--*/
/*--== variables ==--*/
/*--== /variables ==--*/
/*--== mixins ==--*/
/*--== /mixins ==--*/
/*--== general ==--*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #dadada;
  font-family: "Stag";
  color: #000;
  font-weight: 400px;
  font-size: 15px; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.col-sm-20pr, .col-sm-40pr {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/* ---=== keyframes ===--- */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(0, 0, 0, 0.75); } }

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(0, 0, 0, 0.75); } }

.hvr-back-pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #000; }

@-webkit-keyframes hvr-back-pulse-light {
  50% {
    background-color: rgba(255, 255, 255, 0.75); } }

@keyframes hvr-back-pulse-light {
  50% {
    background-color: rgba(255, 255, 255, 0.75); } }

.hvr-back-pulse_light {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.hvr-back-pulse_light:hover, .hvr-back-pulse_light:focus, .hvr-back-pulse_light:active {
  -webkit-animation-name: hvr-back-pulse-light;
  animation-name: hvr-back-pulse-light;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #000; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveOutToLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

@keyframes moveOutToLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveOutToRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); } }

@keyframes moveOutToRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); } }

.sceneElement {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.is-exiting .sceneElement {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

#main[data-transition=fade] .sceneElement {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

#main[data-transition=fade].is-exiting .sceneElement {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

#main[data-transition=moveleft] .sceneElement {
  -webkit-animation-name: moveInFromLeft;
  animation-name: moveInFromLeft; }

#main[data-transition=moveleft].is-exiting .sceneElement {
  -webkit-animation-name: moveOutToRight;
  animation-name: moveOutToRight; }

#main[data-transition=moveright] .sceneElement {
  -webkit-animation-name: moveInFromRight;
  animation-name: moveInFromRight; }

#main[data-transition=moveright].is-exiting .sceneElement {
  -webkit-animation-name: moveOutToLeft;
  animation-name: moveOutToLeft; }

/* ---=== / keyframes ===--- */
._c-lagoon {
  display: inline-block;
  margin-right: 4px;
  color: #009fc0; }

._mb0 {
  margin-bottom: 15px; }

#main {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/*--== /general ==--*/
/*--== icons ==--*/
.icon {
  display: inline-block;
  margin-right: 5px; }

.icon_arrow-right-orange {
  background: url("../img/icon-arrow-right-orange.png");
  width: 9px;
  height: 10px; }

/*--== /icons ==--*/
/*--== forms ==--*/
.inputs P {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.12px;
  padding-top: 17px;
  margin-bottom: 17px; }

.input input,
.input select {
  width: 100%;
  background-color: #dadada;
  border: 1px solid transparent;
  color: #000;
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.12px;
  padding: 6px 30px 6px 13px;
  margin-bottom: 6px; }

.input__title {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.12px;
  margin-bottom: 3px; }

.input_margin-bottom {
  margin-bottom: 27px; }

.jq-selectbox {
  position: relative;
  width: 100%;
  background-color: #dadada;
  border: 1px solid transparent;
  color: #000;
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.12px;
  margin-bottom: 4px; }

.jq-selectbox select {
  display: none; }

.jq-selectbox__select-text {
  padding: 6px 30px 6px 13px; }

.jq-selectbox__trigger {
  position: absolute;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10.5px 0 10.5px;
  border-color: #009fc0 transparent transparent transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.jq-selectbox__dropdown {
  position: absolute;
  top: 100% !important;
  left: 0;
  right: 0; }

.jq-selectbox__dropdown ul {
  background-color: #dadada; }

.jq-selectbox__dropdown ul li {
  padding: 6px 30px 6px 13px;
  display: block; }

.jq-selectbox__dropdown ul li:hover {
  background-color: #8a8a8a; }

.input__wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex row; }

.input__wrap .input__title {
  min-width: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px; }

.input__wrap input {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.radio-label {
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.12px;
  vertical-align: middle;
  margin-bottom: 14px;
  position: relative;
  padding-left: 22px; }

.jq-radio {
  position: absolute !important;
  left: 0;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #dadada;
  background-color: #fff; }

.jq-radio__div {
  position: absolute;
  background-color: #000;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0; }

.jq-radio.checked .jq-radio__div {
  opacity: 1;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px; }

.checkbox-label {
  position: relative;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  padding-left: 31px; }

.checkbox-label a {
  color: #f08d00; }

.jq-checkbox {
  position: absolute !important;
  left: 0;
  top: -2px;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 14px;
  background: #dadada;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  vertical-align: middle;
  margin-right: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.jq-checkbox__div {
  position: absolute;
  left: 1px;
  margin-right: 6px;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #dadada;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.jq-checkbox.checked {
  background: #000; }

.jq-checkbox.checked .jq-checkbox__div {
  left: 10px; }

.checkbox-slide-block {
  display: none;
  padding-left: 31px; }

.text-justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-justify span {
  display: inline-block; }

.recaptcha-wrap {
  padding-top: 20px; }

/*--== /forms ==--*/
/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 147px;
  background-color: #f08d00;
  border-color: #f08d00;
  padding: 2px;
  color: #000;
  font-family: "Stag", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 8px;
  margin-top: 10px; }

.butn_fs-xl {
  padding: 13px 8px;
  font-size: 24px; }

.butn:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  visibility: hidden; }

.butn:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f08d00 transparent;
  right: 20px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0; }

.butn_buble-left:after {
  right: initial;
  left: 20px; }

.butn_buble-right-down:after {
  top: initial !important;
  bottom: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.butn_buble-right-down:hover:after {
  bottom: -9px; }

.butn span {
  vertical-align: middle;
  display: inline-block; }

.butn:hover {
  text-decoration: none;
  color: #000; }

.butn:hover:after {
  top: -9px; }

.close-butn {
  position: absolute;
  display: block;
  font-size: 54px;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f08d00;
  margin-right: auto;
  margin-left: auto;
  line-height: 50px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  z-index: 995;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
  left: 50%;
  margin-left: -22px; }

.close-butn:hover {
  color: #fff;
  text-decoration: none; }

.bredband-butn-holder {
  position: absolute;
  bottom: 0;
  right: 20px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%); }

.butn-holder-bottom-center {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 20px;
  right: 20px; }

.campain-butn-holder_right-bottom {
  position: absolute;
  right: 20px;
  bottom: 20px; }

.campain-butn-holder_left-bottom-between {
  position: absolute;
  left: 20px;
  bottom: -20px; }

.campain-butn-holder_left-bottom {
  position: absolute;
  left: 20px;
  bottom: 20px; }

.campain-butn-holder_right-top-between {
  position: absolute;
  right: 20px;
  bottom: 100%;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px); }

.text-block__img-link-holder {
  position: absolute;
  right: 20px;
  bottom: 20px; }

.text-block__img-link-holder a {
  color: #f08d00;
  font-size: 16px;
  font-weight: 500;
  line-height: 1; }

/*--== /buttons ==--*/
header {
  padding: 18px 70px 16px;
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

.hamburger {
  cursor: pointer;
  position: relative; }

#nav {
  display: none;
  position: absolute;
  list-style: none;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.8);
  width: 414px;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  border: 2px solid #33b2e9;
  right: -webkit-calc(100% + 10px);
  right: calc(100% + 10px);
  top: 0;
  z-index: 999; }

#nav a {
  color: #030000;
  letter-spacing: 0.6px; }

#nav a:hover {
  text-decoration: none;
  color: #009fc0; }

#nav li {
  padding: 0 20px; }

#nav .border-top {
  border-top: 2px solid #33b2e9; }

.top-right-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #030000;
  font-family: "Stag";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  /* Text style for "In English" */
  letter-spacing: 0.35px; }

.page-heading {
  padding: 0;
  color: #fff;
  font-family: 'Stag';
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: center; }

.page-banner {
  min-height: 350px;
  padding-left: 20px;
  padding-bottom: 96px;
  font-family: "Stag";
  position: relative; }

.page-banner_internetaccess {
  background: url("../img/bg-internetaccess-banner.png") no-repeat center;
  background-size: cover; }

.page-banner_colocation {
  background: url("../img/bg-colocation-banner.png") no-repeat center;
  background-size: cover; }

.page-banner_drifttjanster {
  background: url("../img/bg-drifttjanster-banner.png") no-repeat center;
  background-size: cover; }

.page-banner__title {
  padding-top: 34px;
  max-width: 425px; }

.page-banner__title p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px; }

.page-banner__caption {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.2px;
  margin-bottom: 5px; }

.page-banner__butn-holder {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 36px;
  text-align: right; }

.page-banner__butn-holder .butn + .butn {
  margin-left: 6px; }

/*--== category-link ==--*/
.category-link {
  background: #000;
  padding: 0;
  text-align: center;
  position: relative;
  cursor: pointer; }

.category-link-wrap {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px; }

.category-link img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 280px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category-link__title {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Stag";
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.6px;
  z-index: 99;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.category-link__title:after {
  display: block;
  content: '+';
  font-size: 54px;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f08d00;
  margin-right: auto;
  margin-left: auto;
  line-height: 50px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category-link:hover {
  background: #000; }

.category-link:hover img {
  opacity: 0.5; }

.category-link:hover .category-link__title:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.category-link-inner {
  padding: 0;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category-link-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.category-link-inner:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  display: block;
  content: '+';
  font-size: 54px;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f08d00;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff; }

.category-link-inner__title {
  position: absolute;
  z-index: 99;
  top: 45px;
  left: 30px;
  right: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category-link-inner_butn-holder:after {
  display: none; }

.category-link-inner_butn-holder .butn {
  position: absolute;
  left: 30px;
  bottom: 20px; }

.category-link-inner:hover {
  background: #fff; }

.category-link-inner:hover .category-link-inner__title {
  color: #000; }

.category-link-inner:hover img {
  opacity: 0.6; }

.category-link-inner_light {
  background: #000; }

.category-link-inner_light .category-link-inner__title {
  color: #000; }

.category-link-inner_light:hover {
  background: #000; }

.category-link-inner_light:hover .category-link-inner__title {
  color: #fff; }

/*--== /category-link ==--*/
/*--== speech-box ==--*/
.speech-boxes-wrap {
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px; }

.speech-boxes-wrap__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  padding-bottom: 20px; }

.speech-box {
  padding: 40px 20px 63px;
  font-family: 'Stag';
  font-weight: 500;
  position: relative;
  z-index: 1; }

.speech-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  background: inherit;
  left: 20px;
  top: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.speech-box__content {
  overflow: hidden;
  text-overflow: ellipsis; }

.speech-box__title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 1;
  margin-bottom: 15px; }

.speech-box__text {
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  min-height: 51px; }

.speech-box__text_height-auto {
  min-height: initial;
  line-height: 2; }

.speech-box__link {
  position: absolute;
  left: 20px;
  bottom: 35px; }

.speech-box__link span {
  font-size: 12px;
  line-height: 1.1;
  color: #f08d00; }

.speech-box._bg-white .speech-box__text,
.speech-box._bg-white .speech-box__title {
  color: #009fc0; }

.speech-box:hover {
  text-decoration: none; }

.speech-box:hover:before {
  top: -10px; }

.speech-box_hovered {
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 21px;
  margin-bottom: 25px; }

.speech-box_hovered:before {
  top: -10px; }

.speech-box_buble-center:before {
  left: 50%;
  margin-left: -12px; }

.speech-box_buble-left-side {
  margin-left: 20px; }

.speech-box_buble-left-side:before, .speech-box_buble-left-side:hover:before {
  left: -9px;
  top: 12px; }

.speech-box_buble-top-center:before, .speech-box_buble-top-center:hover:before {
  left: 50%;
  margin-left: -11px; }

.speech-box_buble-left-center:before, .speech-box_buble-left-center:hover:before {
  top: 50%;
  margin-top: -11px; }

.speech-box_dib {
  vertical-align: top;
  display: inline-block;
  padding: 15px;
  min-width: 133px; }

.speech-box_dib .speech-box__text {
  line-height: 1;
  text-align: left; }

.speech-box_large-padding {
  padding: 40px; }

.speech-box ol {
  padding-left: 10px;
  margin-bottom: 15px;
  text-align: left; }

.speech-box__img-abs-right-bottom {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 0; }

.speech-boxes-wrap-align-right {
  text-align: right;
  padding-top: 20px; }

.speech-boxes-wrap-align-right .speech-box {
  padding: 14px 9px 9px;
  display: inline-block;
  width: 160px; }

.speech-boxes-wrap-align-right .speech-box__text {
  line-height: 1;
  text-align: left;
  letter-spacing: -0.12px; }

.speechbox-border {
  padding: 20px;
  border: 2px solid #f08d00;
  position: relative; }

.speechbox-border:before {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  right: -11.5px;
  border-top: 2px solid #f08d00;
  border-right: 2px solid #f08d00;
  height: 20px;
  width: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.speechbox-border_buble-top-left {
  margin-top: 30px; }

.speechbox-border_buble-top-left:before {
  top: -12px;
  right: initial;
  left: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

/*--== /speech-box ==--*/
.inner-nav-wrap {
  padding: 15px 20px 11px; }

#inner-nav {
  list-style: none; }

#inner-nav a {
  display: block;
  height: 35px;
  border: 1px solid #000;
  padding: 10px 10px 11px;
  color: #000;
  font-family: "Stag";
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-right: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#inner-nav a:hover {
  background: #000;
  color: #fff;
  text-decoration: none; }

#inner-nav li {
  display: inline-block; }

#inner-nav li:last-child {
  margin-right: 0; }

/*--== story ==--*/
.story {
  display: block;
  padding-left: 10px; }

.story__img {
  margin-bottom: 34px; }

.story__img img {
  max-width: 100%; }

.story__text {
  padding-right: 20px;
  color: #000;
  font-weight: 400;
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  font-size: 12px; }

.story__title {
  font-family: "Stag";
  font-weight: 700; }

.story__link {
  padding-top: 20px; }

.story__link a {
  color: #f18d00;
  letter-spacing: 0.3px;
  line-height: 1; }

.stories-wrap {
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 34px; }

.stories-wrap [class*='col-'] {
  padding: 0; }

.stories-wrap [class*='col-']:nth-child(even) .story {
  padding-left: 0;
  padding-right: 10px; }

.stories-wrap [class*='col-']:nth-child(even) .story__text {
  padding-right: 0;
  padding-left: 20px; }

.stories-wrap__title {
  padding: 23px 20px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px; }

/*--== /story ==--*/
/*--== .text-block ==--*/
.text-block {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  margin-bottom: 30px; }

.text-block_pt100 {
  padding-top: 66px; }

.text-block [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px; }

.text-block_bg-white {
  background: #fff;
  margin-left: 0;
  margin-right: 0; }

.text-block_bg-white [class*='col-'] {
  padding: 0; }

.text-block__img, .text-block__text {
  position: relative;
  height: 100%; }

.text-block__img img, .text-block__text img {
  max-width: 100%; }

.text-block__img_df-just-between, .text-block__text_df-just-between {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-block__img_df-just-between .img-right, .text-block__text_df-just-between .img-right {
  -webkit-align-self: right;
      -ms-flex-item-align: right;
              -ms-grid-row-align: right;
          align-self: right;
  margin-left: 10px; }

.text-block__img {
  text-align: center; }

.text-block__img_height-auto {
  height: auto; }

.text-block__img img {
  max-width: 100%;
  height: 100%; }

.text-block__img-subtitle, .text-block__img-title {
  position: absolute;
  left: 25px;
  right: 25px; }

.text-block__img-subtitle_sm, .text-block__img-title_sm {
  color: #f08d00;
  font-family: "Stag";
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.6px; }

.text-block__img-subtitle_sm-black, .text-block__img-title_sm-black {
  color: #000;
  font-family: "Stag";
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.6px; }

.text-block__img-subtitle_md, .text-block__img-title_md {
  color: #f08d00;
  font-family: 'Stag';
  font-size: 63px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px; }

.text-block__img-title {
  top: 45px;
  color: #f08d00;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.24px; }

.text-block__img-subtitle {
  bottom: 20px;
  color: #f08d00;
  font-size: 37px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.13px; }

.text-block__text {
  background: #fff;
  padding: 45px 20px 40px; }

.text-block__text-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  margin-bottom: 18px;
  position: relative; }

.text-block__text-title_with-img {
  padding-left: 85px;
  padding-top: 25px;
  min-height: 75px; }

.text-block__text-title_with-img img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 75px;
  display: block; }

.text-block__text-title-thiner {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 18px; }

.text-block__text-sub-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.24px;
  margin-bottom: 20px; }

.text-block__text-text {
  color: #000;
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px; }

.text-block__text-text b {
  font-family: 'Stag'; }

.text-block__text-text a {
  color: #f08d00; }

.text-block__text-text_p-mb0 p {
  margin-bottom: 0; }

.text-block__text-text_with-img-left {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-block__text-text_with-img-left img {
  -webkit-align-self: left;
      -ms-flex-item-align: left;
              -ms-grid-row-align: left;
          align-self: left;
  max-width: 75px;
  margin-right: 15px; }

.text-block_mb0 {
  margin-bottom: 0; }

.text-block__text-bold {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  font-family: "Stag"; }

.text-block__ol {
  list-style: none;
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  counter-reset: item; }

.text-block__ol b {
  font-family: 'Stag';
  font-weight: 700; }

.text-block__ol li {
  display: block;
  margin-bottom: 10px; }

.text-block__ol li:before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  font-family: 'Stag';
  font-weight: 700;
  margin-right: 3px; }

.text-block__ul {
  padding-top: 5px;
  list-style: none;
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 15px; }

.text-block__ul li {
  display: block;
  margin-bottom: 3px;
  padding-left: 14px;
  position: relative;
  margin-bottom: 5px; }

.text-block__ul li:before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 10px;
  left: 0;
  top: 0;
  background: url("../img/icon-arrow-right-orange.png"); }

.text-block__ul_li-mb15 li {
  margin-bottom: 15px; }

.text-block__ul_wh {
  color: #fff; }

.text-block__ul_wh li:before {
  background: url(../img/icon-arrow-right-white.png) no-repeat; }

.left-wrap {
  -webkit-align-self: left;
      -ms-flex-item-align: left;
              -ms-grid-row-align: left;
          align-self: left; }

.table {
  width: 100%;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
  line-height: 1; }

.table th {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 19px; }

.table th .text-block__text-sub-title {
  text-transform: none; }

.table tr {
  border-bottom: 1px solid #dadada; }

.table tr:last-child {
  border: none; }

.table tr td:last-child,
.table tr th:last-child {
  text-align: right;
  padding-right: 10px; }

.table tr td:first-child,
.table tr th:first-child {
  padding-right: 15px; }

.table .tr-th {
  border: none; }

.table td {
  padding: 4px 0 2px;
  min-width: 60px;
  min-height: 26px; }

.bg-content-block {
  padding: 20px;
  margin: 0 0 25px;
  position: relative; }

.bg-content-block__title-orange {
  color: #f18d00;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.36px;
  margin-bottom: 30px; }

.bg-content-block_colocation-colocation {
  background: url("../img/img-colocation-colocation-p2.png") no-repeat center;
  background-size: cover;
  min-height: 608px;
  padding-top: 40px; }

.bg-content-block_colocation-colocation2 {
  background: url("../img/img-colocation-colocation-p2-2.png") no-repeat center;
  background-size: cover;
  min-height: 240px;
  padding-top: 40px; }

.bg-content-block_data-center {
  background: url("../img/img-colocation-colocation-inner-bg-data-center.png") no-repeat center;
  background-size: cover;
  min-height: 239px;
  margin-top: 60px; }

.bg-content-block_datacenter-single {
  background: url("../img/bg-colocation-datacenter.png") no-repeat center;
  background-size: cover;
  min-height: 239px;
  padding-top: 80px; }

.bg-content-block_colocation-thule {
  background: url("../img/bg-colocation-thule.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.bg-content-block_colocation-sparven {
  background: url("../img/bg-colocation-sparven.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.bg-content-block_colocation-pionen {
  background: url("../img/bg-colocation-pionen.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.bg-content-block_colocation-sterik {
  background: url("../img/bg-colocation-sterik.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.bg-content-block_colocation-lajka {
  background: url("../img/bg-colocation-lajka.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.bg-content-block_drifttjanster_it-drift {
  background: url("../img/bg-drifttjanster-it-drift.png") no-repeat center;
  background-size: cover;
  min-height: 500px; }

.img-description-wrap {
  padding-top: 20px;
  padding-right: 20px; }

.img-description {
  text-align: center;
  margin-bottom: 50px; }

.img-description img {
  display: inline-block;
  vertical-align: top; }

.img-description._df img {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

/*--== /.text-block ==--*/
/*--== campaignbox ==--*/
.campaignbox {
  padding: 83px 20px 33px;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px; }

.campaignbox_forbindelse {
  background: url("../img/bg-internetaccess-campaignbox-forbindelse-big.png") no-repeat center;
  background-size: cover; }

.campaignbox__content {
  max-width: 500px; }

.campaignbox__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.6px; }

.campaignbox__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 13px; }

.campaignbox__text {
  font-family: "Droid Serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1; }

/*--== /campaignbox ==--*/
/*--== bordered-table ==--*/
.bordered-table-wrap {
  padding: 15px;
  border: 1px solid #f08d00;
  background: url("../img/bg-bordered-table.png") no-repeat center;
  background-size: cover; }

.bordered-table-wrap table {
  font-family: "Droid Serif";
  margin-bottom: 20px; }

.bordered-table-wrap table th {
  font-weight: 700;
  font-family: 'Stag';
  letter-spacing: 0.3px;
  font-size: 12px;
  vertical-align: bottom; }

.bordered-table-wrap table tr {
  border-bottom: 1px solid #f08d00; }

.bordered-table-wrap table tr td {
  padding-top: 5px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  vertical-align: bottom; }

.bordered-table-wrap table tr td:last-child {
  font-weight: 700;
  letter-spacing: 0.3px;
  white-space: nowrap; }

.bordered-table-wrap table tr a {
  color: #f08d00; }

.bordered-table-wrap p {
  font-size: 8px;
  letter-spacing: 0.2px;
  line-height: 10px;
  font-style: italic; }

/*--== /bordered-table ==--*/
.logo-link {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }

.logo-link_wrap {
  text-align: center; }

.logo-link img {
  max-width: 100%; }

.logo-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  background: #f08d00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 0px 53px 46px #f08d00;
          box-shadow: 0px 0px 53px 46px #f08d00;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.logo-link:hover:before {
  opacity: .4;
  left: 30%;
  right: 30%;
  top: 40%;
  bottom: 40%; }

.hint {
  display: inline-block;
  padding: 4px 16px;
  background: #f08d00;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  vertical-align: top;
  margin-bottom: 17px; }

.galery {
  padding: 0;
  margin: -5px; }

.galery .galery__item {
  display: inline-block;
  padding: 5px;
  width: 33.33333%; }

.galery .galery__item img {
  width: 100%; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 5px; }

.video object,
.video embed, .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

footer {
  min-height: 81px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 25px 0;
  text-align: center;
  position: relative;
  z-index: 9; }

.socials {
  display: inline-block;
  line-height: 30px; }

.socials a {
  width: 31px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  background: url(../img/sprite-soc.png); }

.socials .fb {
  background-position: 0 0; }

.socials .in {
  background-position: 31px 0; }

.socials .tw {
  background-position: 175px 0; }

.socials .yt {
  background-position: 139px 0; }

.socials .ins {
  background-position: -144px 0; }

.socials .insTec {
  background-position: 104px 0; }

.legal {
  vertical-align: top;
  height: 30px;
  display: inline-block;
  color: #f18d00;
  font-family: "Stag - Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.35px; }

.legal:hover {
  color: #f18d00; }

/*--== general mods==--*/
._db {
  display: block; }

._dib {
  display: inline-block; }

._df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

._ml-20 {
  margin-left: -20px; }

._mb0 {
  margin-bottom: 0; }

._mr20 {
  margin-right: 20px; }

._mb40 {
  margin-bottom: 40px; }

._mt0 {
  margin-top: 0; }

._mb15 {
  margin-bottom: 15px; }

._mb20 {
  margin-bottom: 20px; }

._mb30 {
  margin-bottom: 30px; }

._mb50 {
  margin-bottom: 50px; }

._mt20 {
  margin-top: 20px; }

._pb0 {
  padding-bottom: 0; }

._pb20 {
  padding-bottom: 20px; }

._pb85 {
  padding-bottom: 85px; }

._pt0 {
  padding-top: 0; }

._pr0 {
  padding-right: 0; }

._pt20 {
  padding-top: 20px; }

._pt40 {
  padding-top: 40px; }

._pt100 {
  padding-top: 100px; }

._mlr0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

._plr0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

._bg-lagoon {
  background-color: #009fc0; }

._bg-black {
  background-color: #000; }

._bg-dark-purple {
  background-color: #1e1739; }

._bg-denim {
  background-color: #124b6d; }

._bg-white {
  background-color: #fff; }

._bg-transparent {
  background: transparent; }

._w-auto {
  width: auto;
  min-width: auto; }

._height-auto {
  height: auto;
  min-height: initial; }

._h100 {
  height: 100%; }

._c-wh {
  color: #fff; }

._c-or {
  color: #f08d00; }

._c-bl {
  color: #000 !important; }

._c-lagoon {
  display: inline-block;
  margin-right: 4px;
  color: #009fc0; }

/*--== /general mods ==--*/
/*---=== MEDIA QUERY ===---*/
@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .speech-boxes-wrap [class*="col-"] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; } }

@media (max-width: 724px) {
  #nav {
    top: 100%;
    right: 0;
    left: 0;
    width: auto;
    max-width: 100%; }
  .hamburger {
    position: static; }
  header .container {
    position: relative; } }

@media (max-width: 575px) {
  .speech-boxes-wrap [class*="col-"] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 576px) {
  .col-sm-20pr {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%; }
  .col-sm-40pr {
    -ms-flex: 0 0 40%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%; }
  .col-sm-50pr {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .offset-md-2 {
    margin-left: 16.66666%; } }

/*---=== / MEDIA QUERY ===---*/
