// banner

.page-banner {
    min-height: 350px;
    padding-left: 20px;
    padding-bottom: 96px;
    font-family: "Stag";
    position: relative;

    &_internetaccess {
        background: url("../img/bg-internetaccess-banner.png") no-repeat center;
        background-size: cover;
    }

    &_colocation {
        background: url("../img/bg-colocation-banner.png") no-repeat center;
        background-size: cover;
    }
    &_drifttjanster{
        background: url("../img/bg-drifttjanster-banner.png") no-repeat center;
        background-size: cover;
    }


    &__title {
        padding-top: 34px;
        max-width: 425px;

        p {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 20px;
        }


    }

    &__caption {
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1.2px;
        margin-bottom: 5px;
    }

    &__butn-holder {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 36px;
        text-align: right;

        .butn + .butn {
            margin-left: 6px;
        }
    }
}
// /banner
