/*--== bordered-table ==--*/

.bordered-table-wrap {
    padding: 15px;
    border: 1px solid $c-orange;
    background: url("../img/bg-bordered-table.png") no-repeat center;
    background-size: cover;

    table {
        font-family: "Droid Serif";
        margin-bottom: 20px;

        th {
            font-weight: 700;
            font-family: 'Stag';
            letter-spacing: 0.3px;
            font-size: 12px;
            vertical-align: bottom;
        }

        tr {
            border-bottom: 1px solid $c-orange;
            td {
                padding-top: 5px;
                font-weight: 400;
                letter-spacing: 0.3px;
                line-height: 16px;
                font-size: 12px;
                color: $c-black;
                vertical-align: bottom;

                &:last-child {
                    font-weight: 700;
                    letter-spacing: 0.3px;
                    white-space: nowrap;

                }
            }

            a {
                color: $c-orange;
            }

        }

        th {}
    }

    p {
        font-size: 8px;
        letter-spacing: 0.2px;
        line-height: 10px;
        font-style: italic;
    }
}
/*--== /bordered-table ==--*/
