/*--== buttons ==--*/

.butn {
    display: inline-block;
    min-width: 147px;
    background-color: $c-orange;
    border-color: $c-orange;
    padding: 2px;
    color: $c-black;
    font-family: "Stag", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 8px;
    margin-top: 10px;

    &_fs-xl {
        padding: 13px 8px;
        font-size: 24px;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        visibility: hidden;
    }

    &:after {
        @include pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $c-orange transparent;
        right: 20px;
        top: 0;
        @include trans;
        z-index: 0;
    }

    &_buble-left {
        &:after {
            right: initial;
            left: 20px;
        }
    }

    &_buble-right-down {
        &:after {
            top: initial!important;
            bottom: 0;
            transform: rotate(180deg);
        }

        &:hover {
            &:after {
                bottom: -9px;
            }
        }
    }

    span {
        vertical-align: middle;
        display: inline-block;
    }

    &:hover {
        text-decoration: none;
        color: $c-black;

        &:after {
            top: -9px;
        }
    }
}

.close-butn {
    position: absolute;
    display: block;
    font-size: 54px;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: $c-orange;
    margin-right: auto;
    margin-left: auto;
    line-height: 50px;
    font-weight: 500;
    color: $c-white;
    text-align: center;
    z-index: 995;
    transform: rotate(45deg);
    top: 11px;
    left: 50%;
    margin-left: -22px;

    &:hover {
        color: $c-white;
        text-decoration: none;
    }
}

.bredband-butn-holder {
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: translateY(50%);
}
.butn-holder-bottom-center{
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 20px;
    right: 20px;
}
.campain-butn-holder {
    &_right-bottom {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    &_left-bottom-between {
        position: absolute;
        left: 20px;
        bottom: -20px;
    }

    &_left-bottom {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    &_right-top-between {
        position: absolute;
        right: 20px;
        bottom: 100%;
        transform: translateY(20px);
    }
}

.text-block__img-link-holder {
    position: absolute;
    right: 20px;
    bottom: 20px;

    a {
        color: $c-orange;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
}
/*--== /buttons ==--*/
