/*--== campaignbox ==--*/
.campaignbox {
    padding: 83px 20px 33px;
    color: $c-white;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;

    &_forbindelse {
        background: url("../img/bg-internetaccess-campaignbox-forbindelse-big.png") no-repeat center;
        background-size: cover;

    }

    &__content {
        max-width: 500px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 13px;
    }

    &__text {
        font-family: "Droid Serif";
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
    }
}
/*--== /campaignbox ==--*/
