/*--== category-link ==--*/
.category-link {
    background: #000;
    padding: 0;
    text-align: center;
    position: relative;
    cursor: pointer;

    &-wrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }

    img {
        object-fit: cover;
        object-position: 50% 50%;
        height: 280px;
        width: 100%;
        @include trans;
    }

    &__title {
        position: absolute;
        left: 0;
        right: 0;
        color: #fff;
        font-family: "Stag";
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.6px;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);

        &:after {
            display: block;
            content: '+';
            font-size: 54px;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: $c-orange;
            margin-right: auto;
            margin-left: auto;
            line-height: 50px;
            font-weight: 500;
            @include trans;
        }
    }

    &:hover {
        background: #000;

        img {
            opacity: 0.5;
        }

        .category-link__title {
            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

.category-link-inner {
    padding: 0;
    position: relative;
    background: $c-white;
    @include trans;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -22px;
        margin-left: -22px;
        display: block;
        content: '+';
        font-size: 54px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $c-orange;
        text-align: center;
        line-height: 50px;
        font-weight: 500;
        @include trans;
        color: $c-white;
    }

    &__title {
        position: absolute;
        z-index: 99;
        top: 45px;
        left: 30px;
        right: 15px;
        color: $c-white;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.6px;
        @include trans;
    }

    &_butn-holder {
        &:after {
            display: none;
        }

        .butn {
            position: absolute;
            left: 30px;
            bottom: 20px;
        }
    }

    &:hover {
        background: $c-white;

        .category-link-inner__title {
            color: $c-black;
        }

        img {
            opacity: 0.6;
        }
    }

    &_light {
        background: $c-black;

        .category-link-inner__title {
            color: $c-black;
        }

        &:hover {
            background: $c-black;

            .category-link-inner__title {
                color: $c-white;
            }
        }
    }
}
/*--== /category-link ==--*/
