.page-heading {
    padding: 0;
    color: #fff;
    font-family: 'Stag';
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: center;
}

@import "banner";
@import "category-link";
@import "speechbox";
.inner-nav-wrap {
    padding: 15px 20px 11px;
}

#inner-nav {
    list-style: none;

    a {
        display: block;
        height: 35px;
        border: 1px solid $c-black;
        padding: 10px 10px 11px;
        color: $c-black;
        font-family: "Stag";
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin-right: 7px;
        @include trans;

        &:hover {
            background: $c-black;
            color: $c-white;
            text-decoration: none;
        }
    }

    li {
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }
}
@import "story";
@import "text-block";
@import "campaignbox";
@import "bordered-table";
// logo-link
.logo-link{
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    &_wrap{
        text-align: center;
    }
    img{
        max-width: 100%;
    }
    &:before{
        @include pseudo;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        background: $c-orange;
        border-radius: 50%;
        box-shadow: 0px 0px 53px 46px $c-orange;
        opacity: 0;
        @include trans;
    }
    &:hover{
        &:before{
            opacity: .4;
            left: 30%;
            right: 30%;
            top: 40%;
            bottom: 40%;
        }
    }
}
// /logo-link
.hint{
    display: inline-block;
    padding: 4px 16px;
    background: $c-orange;
    line-height: 1;
    font-size: 12px;
font-weight: 500;
vertical-align: top;
margin-bottom: 17px;

}
.galery{
    padding: 0;
    margin: -5px;

    .galery__item{
        display: inline-block;
        padding: 5px;
        width: 33.33333%;
        // height: 130px;
        img{
            width: 100%;
        }

    }
}
.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-bottom: 5px;

}
.video object,
.video embed, .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 0;
}
