/*--== fonts ==--*/
@font-face {
    font-family: 'Stag';
    src: url('../fonts/stag/Stag-Bold.eot');
    src: url('../fonts/stag/Stag-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stag/Stag-Bold.woff') format('woff'),
         url('../fonts/stag/Stag-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Stag';
    src: url('../fonts/stag/Stag-Book.eot');
    src: url('../fonts/stag/Stag-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stag/Stag-Book.woff') format('woff'),
         url('../fonts/stag/Stag-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Stag';
    src: url('../fonts/stag/Stag-BookItalic.eot');
    src: url('../fonts/stag/Stag-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stag/Stag-BookItalic.woff') format('woff'),
         url('../fonts/stag/Stag-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'Stag';
    src: url('../fonts/stag/Stag-Medium.eot');
    src: url('../fonts/stag/Stag-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stag/Stag-Medium.woff') format('woff'),
         url('../fonts/stag/Stag-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Stag';
    src: url('../fonts/stag/Semibold.eot');
    src: url('../fonts/stag/Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stag/Semibold.woff') format('woff'),
         url('../fonts/stag/Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*--== /fonts ==--*/
