footer {
    min-height: 81px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background-color: $c-white;
    padding: 25px 0;
    text-align: center;
    position: relative;
    z-index: 9;
}

.socials {
    display: inline-block;
    line-height: 30px;
    a {
        width: 31px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;
        background: url(../img/sprite-soc.png);
    }
    .fb{
        background-position: 0 0;
    }
    .in{
        background-position: 31px 0;
    }
    .tw{
        background-position: 175px 0;
    }
    .yt{
        background-position: 139px 0;
    }
    .ins{
        background-position: -144px 0;
    }
    .insTec{
        background-position: 104px 0;
    }
}
.legal{
    vertical-align: top;
    height: 30px;
    display: inline-block;
    color: #f18d00;
    font-family: "Stag - Book";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.35px;
    &:hover{
        color: #f18d00;

    }
}
