/*--== forms ==--*/

.inputs {
    P {
        color: $c-black;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.12px;
        padding-top: 17px;
        margin-bottom: 17px;
    }
}

.input {
    input,
    select {
        width: 100%;
        background-color: $c-grey;
        border: 1px solid transparent;
        color: $c-black;
        font-family: "Droid Serif";
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.12px;
        padding: 6px 30px 6px 13px;
        margin-bottom: 6px;
    }

    &__title {
        color: $c-black;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.12px;
        margin-bottom: 3px;
    }

    &_margin-bottom {
        margin-bottom: 27px;
    }
}

.jq-selectbox {
    position: relative;
    width: 100%;
    background-color: $c-grey;
    border: 1px solid transparent;
    color: $c-black;
    font-family: "Droid Serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.12px;
    margin-bottom: 4px;

    select {
        display: none;
    }

    &__select-text {
        padding: 6px 30px 6px 13px;
    }

    &__trigger {
        position: absolute;
        right: 6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10.5px 0 10.5px;
        border-color: $c-lagoon transparent transparent transparent;
        @include centerY;
    }

    &__dropdown {
        position: absolute;
        top: 100%!important;
        left: 0;
        right: 0;

        ul {
            background-color: $c-grey;

            li {
                padding: 6px 30px 6px 13px;
                display: block;

                &:hover {
                    background-color: #8a8a8a;
                }
            }
        }
    }
}

.input__wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex row;

    .input__title {
        min-width: 70px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        margin-right: 5px;
        // white-space: nowrap;
    }

    input {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
}

.radio-label {
    display: block;
    color: $c-black;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.12px;
    vertical-align: middle;
    margin-bottom: 14px;
    position: relative;
    padding-left: 22px;

}

.jq-radio {
    position: absolute!important;
    left: 0;
    top: -3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;

    position: relative;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid $c-grey;
    background-color: $c-white;

    &__div {
        position: absolute;
        background-color: $c-black;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        border-radius: 50%;
        opacity: 0;
        // @include trans;
    }

    &.checked {
        .jq-radio__div {
            opacity: 1;
            left: 2px;
            right: 2px;
            top: 2px;
            bottom: 2px;
        }
    }
}

.checkbox-label {
    position: relative;
    color: $c-black;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
    padding-left: 31px;
    a{
        color: $c-orange;
    }
}

.jq-checkbox {
    position: absolute!important;
    left: 0;
    top: -2px;
    display: inline-block;
    position: relative;
    width: 25px;
    height: 14px;
    background: $c-grey;
    border-radius: 14px;
    vertical-align: middle;
    margin-right: 6px;
    @include trans;


    &__div {
        position: absolute;
        left: 1px;
        margin-right: 6px;
        position: relative;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 1px solid $c-grey;
        background-color: $c-white;
        @include trans;
    }
    &.checked {
        background: $c-black;

        .jq-checkbox__div {
            left: 10px;
            // right: 1px;
        }
    }
}
.checkbox-slide-block{
    display: none;
    padding-left: 31px;
}
.text-justify{
    display: flex;
    justify-content: space-between;
    span{
        display: inline-block;
    }

}
.recaptcha-wrap{
    padding-top: 20px;
}
/*--== /forms ==--*/
