/*--== general mods==--*/
._db {
	display: block;
}

._dib {
	display: inline-block;
}

._df {
	display: flex;
}

._ml-20 {
	margin-left: -20px;
}

._mb0 {
	margin-bottom: 0;
}

._mr20 {
	margin-right: 20px;
}
._mb40{
	margin-bottom: 40px;
}
._mt0 {
	margin-top: 0;
}

._mb15 {
	margin-bottom: 15px;
}

._mb20 {
	margin-bottom: 20px;
}

._mb30 {
	margin-bottom: 30px;
}

._mb50 {
	margin-bottom: 50px;
}

._mt20 {
	margin-top: 20px;
}

._pb0 {
	padding-bottom: 0;
}

._pb20 {
	padding-bottom: 20px;
}
._pb85{
	padding-bottom: 85px;
}
._pt0 {
	padding-top: 0;
}

._pr0 {
	padding-right: 0;
}

._pt20 {
	padding-top: 20px;
}

._pt40 {
	padding-top: 40px;
}

._pt100 {
	padding-top: 100px;
}
._mlr0{
	margin-left: 0!important;
	margin-right: 0!important;
}
._plr0{
	padding-left: 0!important;
	padding-right: 0!important;
}
._bg-lagoon {
	background-color: $c-lagoon;
}

._bg-black {
	background-color: $c-black;
}

._bg-dark-purple {
	background-color: $c-dark-purple;
}

._bg-denim {
	background-color: $c-denim;
}

._bg-white {
	background-color: $c-white;
}

._bg-transparent {
	background: transparent;
}

._w-auto {
	width: auto;
	min-width: auto;
}

._height-auto {
	height: auto;
	min-height: initial;
}
._h100{
	height: 100%;
}

._c-wh {
	color: $c-white;
}

._c-or {
	color: $c-orange;
}

._c-bl {
	color: $c-black!important;
}

._c-lagoon {
	display: inline-block;
	margin-right: 4px;
	color: $c-lagoon;
}
/*--== /general mods ==--*/
