header {
    padding: 18px 70px 16px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.hamburger {
    cursor: pointer;
    position: relative;

}

#nav {
    display: none;
    position: absolute;
    list-style: none;
    padding: 10px 0;
    background:rgba(#fff, .8);
    width: 414px;
    font-size: 24px;
    font-weight: 400;

    line-height: 45px;
    border: 2px solid #33b2e9;
    right: calc(100% + 10px);
    top: 0;
    z-index: 999;

    a {
        color: #030000;
        letter-spacing: 0.6px;
        &:hover{
            text-decoration: none;
            color: $c-lagoon;
        }
    }
    li{
        padding: 0 20px;
    }
    .border-top{
        border-top: 2px solid #33b2e9;
    }
}
.top-right-absolute{
    position: absolute;
    top: 10px;
    right: 10px;


color: #030000;
font-family: "Stag";
font-size: 14px;
font-weight: 400;
font-style: italic;
line-height: 1;
/* Text style for "In English" */
letter-spacing: 0.35px;
}
