/*--== icons ==--*/

.icon {
    display: inline-block;
    margin-right: 5px;

    &_arrow-right-orange {
        background: url("../img/icon-arrow-right-orange.png");
        width: 9px;
        height: 10px;
    }
}
/*--== /icons ==--*/
