/*---=== MEDIA QUERY ===---*/
@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .speech-boxes-wrap {
        [class*="col-"] {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
@media (max-width: 724px) {
    #nav {
        top: 100%;
        right: 0;
        left: 0;
        width: auto;
        max-width: 100%;
    }

    .hamburger {
        position: static;
    }

    header {
        .container {
            position: relative;
        }
    }
}
@media (max-width: 575px) {
    .speech-boxes-wrap {
        [class*="col-"] {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media (min-width: 576px) {
    .col-sm-20pr{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-sm-40pr{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-sm-50pr{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .offset-md-2{
        margin-left: 16.66666%;
    }
}
/*---=== / MEDIA QUERY ===---*/
