/*--== mixins ==--*/

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6){
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin trans($type: all .3s ease-in-out ){
	transition: $type;
}
@mixin center(){
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin centerY(){
	top: 50%;
	transform: translateY(-50%);
}
@mixin centerX(){
	left: 50%;
	transform: translateX(-50%);
}


/*--== /mixins ==--*/
