/*--== speech-box ==--*/
.speech-boxes-wrap {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;

    &__title {
        color: $c-black;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.6px;
        padding-bottom: 20px;
    }
}

.speech-box {
    padding: 40px 20px 63px;
    font-family: 'Stag';
    font-weight: 500;
    position: relative;
    z-index: 1;

    &:before {
        @include pseudo;
        width: 21px;
        height: 21px;
        background: inherit;
        left: 20px;
        top: 5px;
        transform: rotate(45deg);
        @include trans;
    }

    &__content {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__title {
        color: $c-white;
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 1;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 12px;
        line-height: 1.1;
        color: $c-white;
        min-height: 51px;

        &_height-auto {
            min-height: initial;
            line-height: 2;
        }
    }

    &__link {
        position: absolute;
        left: 20px;
        bottom: 35px;

        span {
            font-size: 12px;
            line-height: 1.1;
            color: $c-orange;
        }
    }

    &._bg-white {
        .speech-box__text,
        .speech-box__title {
            color: $c-lagoon;
        }
    }

    &:hover {
        text-decoration: none;

        &:before {
            top: -10px;
        }
    }

    &_hovered {
        margin-top: 20px;
        padding-bottom: 15px;
        padding-top: 21px;
        margin-bottom: 25px;

        &:before {
            top: -10px;
        }
    }

    &_buble-center {
        &:before {
            left: 50%;
            margin-left: -12px;
        }
    }
    &_buble-left-side {
        margin-left: 20px;
        &:before, &:hover:before{
            left: -9px;
            top:12px;
        }

    }
    &_buble-top-center{
        &:before, &:hover:before{
            left: 50%;
            margin-left: -11px;
        }
    }
    &_buble-left-center{
        &:before, &:hover:before{
            top: 50%;
            margin-top: -11px;
        }
    }
    &_dib{
        vertical-align: top;
        display: inline-block;
        padding: 15px;
        min-width: 133px;
        .speech-box__text{
            line-height: 1;
            text-align: left;
        }

    }
    &_large-padding{
        padding: 40px;
    }
    ol{
        padding-left: 10px;
        margin-bottom: 15px;
        text-align:left;

    }
    &__img-abs-right-bottom{
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 0;
    }
}

.speech-boxes-wrap-align-right {
    text-align: right;
    padding-top: 20px;

    .speech-box {
        padding: 14px 9px 9px;
        display: inline-block;
        width: 160px;
    }
    .speech-box__text {
        line-height: 1;
        text-align: left;
        letter-spacing: -0.12px;
    }
}

.speechbox-border {
    padding: 20px;
    border: 2px solid $c-orange;
    position: relative;

    &:before {
        @include pseudo;
        top: 22px;
        right: -11.5px;
        border-top: 2px solid $c-orange;
        border-right: 2px solid $c-orange;
        height: 20px;
        width: 20px;
        background: $c-white;
        transform: rotate(45deg);
    }
    &_buble-top-left{
        margin-top: 30px;
        &:before {
            top: -12px;
            right: initial;
            left: 20px;
            transform: rotate(-45deg);

        }
    }
}
/*--== /speech-box ==--*/
