/*--== story ==--*/
.story {
    display: block;
    padding-left: 10px;

    &__img {
        margin-bottom: 34px;

        img {
            max-width: 100%;
        }
    }

    &__text {
        padding-right: 20px;
        color: $c-black;
        font-weight: 400;
        font-family: 'Droid Serif', serif;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 1.4;
        letter-spacing: 0.3px;
        font-size: 12px;
    }

    &__title {
        font-family: "Stag";
        font-weight: 700;
    }

    &__link {
        padding-top: 20px;

        a {
            color: #f18d00;
            letter-spacing: 0.3px;
            line-height: 1;
        }
    }
}

.stories-wrap {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 34px;

    [class*='col-'] {
        padding: 0;

        &:nth-child(even) {
            .story {
                padding-left: 0;
                padding-right: 10px;

                &__text {
                    padding-right: 0;
                    padding-left: 20px;
                }
            }
        }
    }

    &__title {
        padding: 23px 20px;
        color: $c-black;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.6px;
    }
}
/*--== /story ==--*/
