/*--== .text-block ==--*/

.text-block {
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    margin-bottom: 30px;

    &_pt100 {
        padding-top: 66px;
    }

    [class*='col-'] {
        padding-left: 10px;
        padding-right: 10px;
    }

    &_bg-white {
        background: $c-white;
        margin-left: 0;
        margin-right: 0;

        [class*='col-'] {
            padding: 0;
        }
    }

    &__img,
    &__text {
        position: relative;
        height: 100%;

        img {
            max-width: 100%;
        }
        &_df-just-between{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            .img-right{
                align-self: right;
                margin-left: 10px;
            }
        }
    }

    &__img {
        text-align: center;
        // overflow: hidden;
        &_height-auto {
            height: auto;
        }

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    &__img-subtitle,
    &__img-title {
        position: absolute;
        left: 25px;
        right: 25px;

        &_sm {
            color: $c-orange;
            font-family: "Stag";
            font-size: 25px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.6px;
        }
        &_sm-black{
            color: $c-black;
            font-family: "Stag";
            font-size: 35px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.6px;
        }

        &_md {
            color: $c-orange;
            font-family: 'Stag';
            font-size: 63px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.6px;
        }
    }

    &__img-title {
        top: 45px;
        color: $c-orange;
        font-size: 70px;
        font-weight: 700;
        line-height: 1.05;
        letter-spacing: -0.24px;
    }

    &__img-subtitle {
        bottom: 20px;
        color: $c-orange;
        font-size: 37px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.13px;
    }

    &__text {
        background: $c-white;
        padding: 45px 20px 40px;
    }

    &__text-title {
        color: $c-black;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.6px;
        margin-bottom: 18px;
        position: relative;

        &_with-img {
            padding-left: 85px;
            padding-top: 25px;
            min-height: 75px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 75px;
                display: block;
            }
        }
    }

    &__text-title-thiner {
        color: $c-black;
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 18px;
    }

    &__text-sub-title {
        color: $c-black;
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.24px;
        margin-bottom: 20px;
    }

    &__text-text {
        color: $c-black;
        font-family: "Droid Serif";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 15px;

        b {
            font-family: 'Stag';
        }

        a {
            color: $c-orange;
        }

        &_p-mb0 {
            p {
                margin-bottom: 0;
            }
        }
        &_with-img-left{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            img{
                align-self: left;
                max-width: 75px;
                margin-right: 15px;

            }

        }
    }

    &_mb0 {
        margin-bottom: 0;
    }

    &__text-bold {
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        font-family: "Stag";
    }

    &__ol {
        list-style: none;
        font-family: "Droid Serif";
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
        counter-reset: item;

        b {
            font-family: 'Stag';
            font-weight: 700;
        }

        li {
            display: block;
            margin-bottom: 10px;

            &:before {
                display: inline-block;
                content: counter(item) ". ";
                counter-increment: item;
                font-family: 'Stag';
                font-weight: 700;
                margin-right: 3px;
            }
        }
    }

    &__ul {
        padding-top: 5px;
        list-style: none;
        font-family: "Droid Serif";
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 15px;


        li {
            display: block;
            margin-bottom: 3px;
            padding-left: 14px;
            position: relative;
            margin-bottom: 5px;

            &:before {
                @include pseudo;
                width: 9px;
                height: 10px;
                left: 0;
                top: 0;
                background: url("../img/icon-arrow-right-orange.png");
            }
        }

        &_li-mb15 {
            li {
                margin-bottom: 15px;
            }
        }
        &_wh{
            color: $c-white;
            li{
                &:before{
                    background: url(../img/icon-arrow-right-white.png) no-repeat;
                }
            }
        }
    }
}
.left-wrap{
    align-self: left;
}
.table {
    width: 100%;
    color: $c-black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    line-height: 1;

    th {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 19px;

        .text-block__text-sub-title {
            text-transform: none;
        }
    }

    tr {
        border-bottom: 1px solid $c-grey;

        &:last-child {
            border: none;
        }

        td,
        th {
            &:last-child {
                text-align: right;
                padding-right: 10px;
            }

            &:first-child {
                padding-right: 15px;
            }
        }
    }

    .tr-th {
        border: none;
    }

    td {
        padding: 4px 0 2px;
        min-width: 60px;
        min-height: 26px;
    }
}

.bg-content-block {
    padding: 20px;
    margin: 0 0 25px;
    position: relative;

    &__title-orange {
        color: #f18d00;
        font-size: 46px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.36px;
        margin-bottom: 30px;
    }
}

.bg-content-block_colocation-colocation {
    background: url("../img/img-colocation-colocation-p2.png") no-repeat center;
    background-size: cover;
    min-height: 608px;
    padding-top: 40px;
}

.bg-content-block_colocation-colocation2 {
    background: url("../img/img-colocation-colocation-p2-2.png") no-repeat center;
    background-size: cover;
    min-height: 240px;
    padding-top: 40px;
}

.bg-content-block_data-center {
    background: url("../img/img-colocation-colocation-inner-bg-data-center.png") no-repeat center;
    background-size: cover;
    min-height: 239px;
    margin-top: 60px;
}

.bg-content-block_datacenter-single {
    background: url("../img/bg-colocation-datacenter.png") no-repeat center;
    background-size: cover;
    min-height: 239px;
    padding-top: 80px;
}

.bg-content-block_colocation-thule {
    background: url("../img/bg-colocation-thule.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.bg-content-block_colocation-sparven {
    background: url("../img/bg-colocation-sparven.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.bg-content-block_colocation-pionen {
    background: url("../img/bg-colocation-pionen.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.bg-content-block_colocation-sterik {
    background: url("../img/bg-colocation-sterik.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.bg-content-block_colocation-lajka {
    background: url("../img/bg-colocation-lajka.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.bg-content-block_drifttjanster_it-drift {
    background: url("../img/bg-drifttjanster-it-drift.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.img-description-wrap {
    padding-top: 20px;
    padding-right: 20px;
}

.img-description {
    text-align: center;
    margin-bottom: 50px;

    img {
        display: inline-block;
        vertical-align: top;
    }

    &._df {
        img {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-self: center;
        }
    }
}
/*--== /.text-block ==--*/
